[2016-01-30 20:59] ai opened #1 "Better API or docs"
Let’s think how we make CLI better.

[2016-01-30 23:57] corysimmons commented on #1
@hawkrives seemed to have the best idea. @hawkrives care to put your proposed syntax in here?

[2016-01-30 23:58] corysimmons commented on #1
@ai If we rewrite this from scratch does this need to be a fork? Looks funny.

[2016-01-31 00:04] vincentorback opened #2 "Make output optional"
Adding `false` as an optional value to the output option: `-o false` would be great if you just want to parse CSS. The main reason for this is linting for me but I assume there might be other use cases where you use postcss for parsing.

[2016-01-31 02:37] hawkrives commented on #1
Oh, uh, I'll go look for my proposal. Was it in the old repo somewhere?

[2016-01-31 02:40] hawkrives commented on #1
Found it.

TL;DR: `postcss -p autoprefixer input.css > output.css` and `postcss -p [ autoprefixer -b "browsers" ] input.css > output.css`, using [subarg].

For other references, check out Browserify: `browserify -t [ babelify --experimental ] -e input.js > output.js`

Browserify gets all the arguments outside of the square brackets, and passes the ones inside to the invoked command.

The arguments

[2016-01-31 02:41] hawkrives commented on #1
and/or other proposal:

`postcss [-p plugin] [some input files] [-o output-file] [--out-dir dir]`

- Any number of plugins, each with its own `-p` .
- Any number of input files
	- If you give one input file, and no output, it'll write to stdout
	- If you give `-o` with one input file, it writes to that file
	- If you give multiple inputs, and no `--out-dir`, it'll overwrite the input files
	- If y

[2016-01-31 04:23] corysimmons commented on #1
@hawkrives Thanks. How would multiple plugin options work?

For instance, what if I wanted to pass `browsers: last 2 versions` and `remove: false` with Autoprefixer?

[2016-01-31 04:36] hawkrives commented on #1
Probably something like `postcss -p [autoprefixer --browsers="last 2 versions" --no-remove] input.css`

which would result in the autoprefixer plugin getting `{browsers: 'last 2 versions', remove: false}` as options.

(subarg and therefore minimist treat `--no-arg` and `--arg=false` the same, returning `{arg: false}` either way.)

[2016-01-31 04:50] corysimmons commented on #1
Gotcha. I think I like the plugin name on the outside of the brackets a bit better.

[code]

I'm also not sure I like the arrow.

[code]

Thoughts?

[2016-01-31 05:24] corysimmons commented on #1
Anyone have any special feelings about https://github.com/sindresorhus/meow ? Looks pretty kewl to me. :100:

[2016-01-31 05:25] corysimmons commented on #2
We're discussing API in https://github.com/postcss/postcss-cli/issues/1

Care to migrate your issue there and close this one?

[2016-01-31 07:40] TrySound commented on #1
@corysimmons meow does not allow to use file config, only field from package.json. We have https://github.com/davidtheclark/cosmiconfig for such cases.

[2016-01-31 07:53] corysimmons commented on #1
We can use the two together right?

[2016-01-31 07:58] TrySound commented on #1
Hm.. yep, right.

[2016-01-31 08:00] corysimmons commented on #1
:100:

[2016-01-31 12:45] vincentorback commented on #2
Ah of course!

[2016-01-31 12:45] #2 closed

[2016-01-31 12:49] vincentorback commented on #1
Adding value of `false` to the output option should not write to any file: `-o false`.
This would be great if you just want to parse CSS for eg. linting.

[2016-01-31 13:18] vitorgalvao commented on #1
That’s standard unix redirection, so it makes sense for it to be there, you can’t really take it out.

Why complicate? Just behave like any other *nix tool.

I’m pretty sure what @hawkrives meant was for it to behave akin to `curl`. If you don’t specify an output, it’ll just output to STDOUT (i.e. show on the terminal). If you give it `> file_name`, it’ll write to `file_name` instead of being show

[2016-01-31 13:21] davidtheclark commented on #1
Yeah, we need to follow these CLI conventions that allow for piping, redirection, etc.

[2016-01-31 14:11] hawkrives commented on #1
@corysimmons: @vitorgalvao has it right. I've been thinking that if you give it one input file, and no `-o` flag, it'll just print the processed file to `stdout`, where you can redirect it with your shell's redirection (usually `>`). This allows the famed unix composability, like `postcss -p autoprefixer input.css | wc -c` (counts the number of characters [or bytes] in the processed file.)

@corys

[2016-01-31 17:00] corysimmons commented on #1
Arrow is cool then. :+1:

https://github.com/substack/subarg/blob/master/index.js seems pretty straightforward and hasn't been updated in years. We could make something similar and change the syntax from `-p [foo options]` to `-p foo [options]`, then fork Meow and use it instead of just standard Minimist. Just a matter of what syntax everyone prefers.

Even if we use the `-p [foo options]` syntax

[2016-02-02 04:45] corysimmons commented on #1
@hawkrives Whatcha think?

[2016-02-02 10:50] ai commented on #1
BTW, we can move current `API.md` to some kind of JSDoc into JS sources.

[2016-02-02 12:59] Siilwyn opened #3 "A new 'official' fork calls for new maintainers"
## Intro

PostCSS is a tool for transforming styles with JS plugins. These plugins can lint your CSS, support variables and mixins, transpile future CSS syntax, inline images, and more.
## Opportunity

Now that the CLI implementation of PostCSS has moved under the PostCSS organisation on GitHub and people talking about what postcss-cli should become I think the time is there to get a group of peop

[2016-02-02 15:33] hawkrives commented on #1
wait, did I not reply last night? whoops.

@corysimmons:

- I'm pretty sure it'll be simpler to parse the options with the plugin name inside of the square brackets.
- I'm not married to using subarg, it's just that it exists already, if that makes sense?

[2016-02-02 15:37] hawkrives commented on #1
and minimist is actually pretty powerful by itself: you can do automatic booleans and pass nested objects as args.

(live example: https://tonicdev.com/hawkrives/56b0cc8b65d8fc0c00633ef6)

`-p 1 --no-power --nested.object.key --no-nested.object.value`

[code]

[2016-02-02 15:38] hawkrives commented on #1
But maybe we should figure out how we want it to look before we go bikeshedding on argument parsers :stuck_out_tongue_winking_eye:

[2016-02-02 16:09] corysimmons commented on #1
:100:

I still like `cli -p plugin [--option1=foo --option2=bar] -w in.css > out.css`. Just waiting on a couple other people to chime in.

[2016-02-02 16:21] ben-eb commented on #1
I don't like the above, it's ambiguous. command line arguments should be in the form of a key value pair, or a boolean flag. A command line tool should not have to rely on the arguments order for option parsing as that syntax does.

Personally I use minimist which handles nested options well, as @hawkrives wrote. I don't see the point of reinventing the wheel for arguments parsing here, as a good

[2016-02-02 16:58] corysimmons commented on #1
I'm all about minimist as it makes our job (and my desire to use Meow) that much easier. I'm just personally not a fan of that syntax. I dunno, can someone show me a minimist cmd that might include 2 or 3 postcss plugins with a few options assigned to each one? Like a real world command?

[2016-02-02 17:42] hawkrives commented on #1
I'm coming up with some examples; should have them posted within the hour

[2016-02-02 17:44] corysimmons commented on #1
haha, no rush :0

[2016-02-02 18:04] hawkrives commented on #1
This assumes that we implement something that automatically searches for plugins under the `postcss-` namespace, so that a reference to `color-gray` returns the `postcss-color-gray` plugin.

[code]

or, on a single line:

[code]

I should say: I view this as a partial alternative to the JS api, so I don't necessarily intend for people to write these long commands by hand – but this will let them w

[2016-02-02 20:20] corysimmons commented on #1
@hawkrives This is for minimist or subarg?

[2016-02-02 23:26] hawkrives commented on #1
Subarg.

[2016-02-02 23:27] hawkrives commented on #1
And therefore mini mist, i think.

I'm building up another example thing,

[2016-02-02 23:30] hawkrives commented on #1
See https://tonicdev.com/hawkrives/56b13b16eefec70d00757ae2

[2016-02-03 01:10] corysimmons commented on #1
Okay so @ben-eb prefers minimist. @hawkrives prefers subarg. I prefer a fork of subarg.

@ai Please decide on one of these and we can move forward.

[2016-02-03 01:22] corysimmons commented on #1
Actually minimist doesn't look too bad, especially if they're using newlines. I don't really like the idea of trimming `postcss-` off of lib names. Seems to add a bit of confusion.

Minimist on newlines with full lib names:
[code]

I also like the `-o` flag rather than `>`. If no output is specified it goes to stdout.

Thoughts on this?

[2016-02-03 01:44] ben-eb commented on #1
Ideally we skip this idea about custom nested options parsing and use a file/`package.json` config etc, like babel, eslint, ava, and many others. Packages like subarg and minimist provide what we want *if* people are comfortable configuring their whole PostCSS setup using a single command, and seeing as your idea was about making the CLI more user friendly, I don't think any of these syntaxes is f

[2016-02-03 02:32] corysimmons commented on #1
I see what you're saying, and I think that will/should be the typical use of it, but you're assuming everyone using this will have a `package.json` file. What about people who want to use the tool globally? I know this is typically a bad practice, but I find myself frequently using Stylus globally to quickly test out something (rather than having to setup a package.json). Those tools you mentioned

[2016-02-03 02:58] ben-eb commented on #1
Hmm, ok. Perhaps for global use cases like you mentioned it's fine to have parameters like `--plugin` in the command.

I mean, I'd rather see an implementation that uses either minimist's or subarg's nested argument parsing rather than a custom one. No need to reinvent the wheel, & I personally feel that CLI options should be either key value pairs or booleans. :smile:

---

This example;

[code]

[2016-02-03 03:22] corysimmons commented on #1
Alright! That looks good to me @ben-eb

Let's wait til @hawkrives gets back, since he's put so much thought into this, before moving forward.

[2016-02-03 03:29] corysimmons commented on #3
I'm pretty garbage at Node. I'm working on it (for real), but I'm probably not super suited to develop a big project like this.

That said, if no one else steps up to develop it I will.

I can help with getting tasks organized, writing nice docs, and making sure all the code is well formatted/standardized.

That said, I think we should definitely rewrite this from scratch. In which case we'd want

[2016-02-03 04:19] hawkrives commented on #1
I should be able to post a refined set of ideas tomorrow morning. I'll include:

- example pure CLI commands
- config file ideas (and potential modules)
- … I had a third thing.

Anyway. It's about bedtime for me, so I'll

[2016-02-03 04:19] hawkrives commented on #1
gah

[2016-02-03 04:34] corysimmons commented on #1
@hawkrives Sounds good. No rush

[2016-02-03 04:40] hawkrives commented on #1
Oh, here's a thing: what are some plugins that people actually use? I haven't really ventured beyond autoprefixer in my daily use.

[2016-02-03 04:53] corysimmons commented on #1
^ great question. I'm so stuck in my own little world that I just use Lost and Autoprefixer 99% of the time.

- https://github.com/peterramsing/lost#global-grid-settings
- https://github.com/postcss/autoprefixer#browsers
- https://github.com/postcss/postcss-calc#options
- http://cssnext.io/usage
- http://cssnano.co/options/
- https://github.com/postcss/postcss-import#options

Should get you starte

[2016-02-03 07:06] Siilwyn commented on #3
@corysimmons That sounds like a good idea, I'm interested in working on it too. We can start by making a list of what tools & modules we're going to use and how the API should behave.

[2016-02-03 07:43] corysimmons commented on #3
I think we should use [Meow](https://github.com/sindresorhus/meow) and we're getting close on deciding on an API in [this issue](https://github.com/postcss/postcss-cli/issues/1).

[2016-02-03 10:36] ben-eb commented on #1
As far as I am aware, all plugins are configurable by options objects.

[2016-02-03 13:02] davidtheclark commented on #1
My two cents: I worry that trying *not* relying on a configuration file, and instead trying to allow plugin configuration via CLI arguments, is a recipe for bugs and headaches. I worry that the `package.json` property idea is the same, too.

The main problem is that both CLI arguments and `package.json` (or YAML or JSON) configs can only use strings as arguments. But we can't control the APIs of p

[2016-02-03 13:07] ben-eb commented on #1
^ Worth mentioning that JSON supports arrays, booleans and integer options as well as strings. I think for *most* (~80%?) of plugins, these types are sufficient. Personally, have only used a function option in 2 plugins.

https://github.com/ben-eb/postcss-discard-font-face#filter
https://github.com/ben-eb/postcss-discard-comments#removefunction

[2016-02-03 13:10] davidtheclark commented on #1
@ben-eb : Right, changed "string" above to be a little more accurate. I agree that for most plugins they're probably sufficient. But what if they're not for 10% of plugins? That would make for a bad CLI UX and a bad time with maintenance, right?

[2016-02-03 13:30] ben-eb commented on #1
Having the option to use CommonJS config *as well as* reading config from `package.json` or a file is consistent with other tools (e.g. eslint), so I don't see a problem with that. We need clear documentation so that people are aware that some plugins that use functions as arguments will only work with CJS.

[2016-02-03 13:50] davidtheclark commented on #1
Yes, could be done (and cosmiconfig already handles that). I just think it's significantly more awkward for user experience, developer experience, and maintenance to have that kind of *partial* support for *most* plugins if you configure in *some* ways. And the alternative is to provide a single means of configuration that will *always* work for *all* plugins.

I don't think tools like ESLint are

[2016-02-03 14:06] ben-eb commented on #1
Going in another route, we could promote tools that instead of having to define an inline function for a config option, would require the module instead. So:

[code]

Would be this instead:

[code]

And `./bar.js`:

[code]

Note that `./bar` could also be `bar` (in `node_modules`). Then, plugin configuration works across all formats.

[2016-02-03 15:39] corysimmons commented on #1
I'm actually working on a project that fixes this exact problem so I think it's a non-issue. If someone comes to us with "How can I pass a function to a config option via CLI?" I will have a good answer for them.

My project is in a bad place right this second (I'm new to Node and making CLI's), but I'll try to get it all cleaned up this weekend.

[2016-02-03 15:46] ben-eb commented on #1
We could require plugin authors to provide a string which resolved to a function, for those who are using functions as options.

[2016-02-03 15:46] hawkrives commented on #1
(I'll just leave this here: technically, the js-yaml parser supports [loading and saving of JS functions](http://nodeca.github.io/js-yaml/#yaml=ZnVuYzogISFqcy9mdW5jdGlvbiA+CiAgZnVuY3Rpb24gZm9vYmFyKCkgewogICAgcmV0dXJuICdXb3chIEpTLVlBTUwgUm9ja3MhJzsKICB9Cg==))

[2016-02-03 16:07] davidtheclark commented on #1
Brainstorm away --- Here's my last point, though: there is a clear and
simple solution in using a CommonJS config module like webpack's. It will
address everything we need, provide a single straightforward means of
configuration for all use-cases, and make this CLI's codebase very simple.
Given such a straightforward solution, I still think that the proposed
alternatives -- promoting specific tool

[2016-02-03 16:15] ben-eb commented on #1
Just trying to make sense of the fact that other tools provide multiple configuration options. I am guessing that this is the case because config is inherently a personal thing. Perhaps when using PostCSS in a Ruby project, one might want their config to be consistently written in YAML, without one outlier in CJS.

[2016-02-03 16:16] hawkrives commented on #1
Fair enough. I so feel, though, that if we document that, hey, you can configure all of the arguments to plugins *except for* the ones that take a function, then

1. I think that people can understand that.
2. Sometimes, you just want to try **something** without setting up an entire config, and I find that really annoying to do with Webpack. I usually end up falling back to Browserify, actually,

[2016-02-03 16:55] corysimmons commented on #1
@davidtheclark 99% of the time, people _will_ be using configs instead of trying to config everything from the CLI. No one is saying we shouldn't heavily promote this approach. I'm just suggesting that we try to make the CLI as flexible as possible so we can support as many use cases as possible.

No CLI supports passing functions as args. People still make CLI's that accept args...

This a millio

[2016-02-03 19:49] Siilwyn commented on #1
Finally had the time to read through this all. I think @davidtheclark brings the most sensible valid points to the table. Loading the configuration in the form of JavaScript enables for powerful options that can not be done in JSON on top of that this will work with all plugins.

We shouldn't reinvent the CLI but users should be able to configure the plugins by only using the CLI as far as that is

[2016-02-03 20:03] corysimmons commented on #1
I think everyone except @davidtheclark agrees with this.

@hawkrives @ben-eb I think we're leaning towards minimist. Is this true for minimist?

[2016-02-03 20:46] hawkrives commented on #1
Like, `postcss -p autoprefixer --browsers '> 1%' -p cssnano ---browsers '> 1%'`?

Stock `minimist` gives us this, because it groups same-named arguments into arrays.

[code]

This is kinda what `subarg` is designed for:

`postcss -p [autoprefixer --browsers '> 1%'] -p [cssnano --browsers '> 1%'] input.css -o output.css`

The brackets give let it know what key to associate the extra options with.

[2016-02-03 21:02] corysimmons commented on #1
Yeah thanks @hawkrives

I agree with @ben-eb that minimist looks best, but minimist just doesn't seem capable of passing plugin options in a robust way.

Maybe we should go back to not worrying about what tool we're gonna use and just focus on the API. Once we get that we can make a tool.

So can we all agree on this syntax?

[code]

If so, I think we can fix minimist to match

[code]

[2016-02-03 21:03] hawkrives commented on #1
Minimist looks nicer, I'll agree, but I really like the unambiguousness of the Subarg syntax.

[2016-02-03 21:12] corysimmons commented on #1
lol, dammit, now I'm back to thinking `postcss -p foo [--option1 'foo' --option2 'bar']` is the best syntax... :(

[2016-02-03 21:51] corysimmons commented on #1
We're back to https://github.com/postcss/postcss-cli/issues/1#issuecomment-178933137

@ai Read over this thread and pick one so we can move forward. :dancer:

[2016-02-10 14:49] danhayden opened #5 "Is it possible to use --watch and --replace at the same time"
I have been attempting to use both of these options at the same time and end up in an endless loop as the watch starts again when it sees the changes from the replace.

[2016-02-11 06:23] Grawl commented on #5
:+1: the same problem

[2016-02-11 06:24] Grawl opened #6 "Glob not working from JSON config"
Working:

[code]

Not working:

[code]

[2016-02-11 06:55] FND commented on #5
A quick workaround might be to just debounce the event handler:
https://github.com/postcss/postcss-cli/blob/master/index.js#L153

[code]

That's not a great solution, but might at least unblock you for the moment?

[2016-02-11 10:12] danhayden commented on #5
@FND thank you for the suggestion. I forked the repo and implemented the debounce function however seem to be having the same issue. I increased the delay from 100 to 500 and still no luck.

[2016-02-11 13:22] pirxpilot commented on #6
fixed in 2.5.1

[2016-02-11 13:22] #6 closed

[2016-02-12 00:51] Grawl commented on #6
Cool

[2016-02-12 03:33] FND commented on #5
Can you provide a minimal example (e.g. based on [this one](https://gist.github.com/FND/8334c63229867e33feae)) so I can have a quick look?

[2016-02-12 22:41] ai commented on #1
@corysimmons ha-ha :) this question is too tricky. Right now I am thinking too that `-p foo [--option1 'foo' --option2 'bar']` is the best. But it is soooo wierd.

[2016-02-17 14:32] andismith opened #7 "PostCSS does not create output directory"
I'm using postcss-cli (and autoprefixer) with the command:

`postcss --use autoprefixer src/css/*.css --dir dist/css --map --local-plugins`

But it is failing with a ENOENT error as the output directory `dist/css` does not exist (it has been cleaned as part of the build). The input directory `src/css/` does exist. Full error below:

`{ [Error: ENOENT: no such file or directory, open 'dist/css/main

[2016-02-17 14:36] ben-eb commented on #7
[code]

[2016-02-17 14:39] andismith commented on #7
Thank you @ben-eb

So it's intended not to make the directory for you?

[2016-02-17 14:39] #7 closed

[2016-02-17 14:45] ben-eb commented on #7
My general opinion on shell tools is less is more, keeps core functionality smaller and easier to reason about. :smile:

[2016-02-18 15:14] corysimmons commented on #1
@sindresorhus thinks we should:

`postcss --plugin="autoprefixer:{browsers: 'last 2', remove: 'false'}"`

https://github.com/sindresorhus/meow/issues/30#issuecomment-177828711

Not sure how I feel about it. On one hand, json-like syntax is pretty easy to parse. On the other hand, where does it stop? Do 2 plugins look like: `postcss --plugins="autoprefixer:{browsers: 'last 2', remove: 'false'}, los

[2016-02-18 15:21] sindresorhus commented on #1
No:

[code]

-

Alternatively:

[code]

Which I think I prefer.

[2016-02-18 17:58] vitorgalvao commented on #1
I’m in agreement with @sindresorhus, for one simple important reason: clarity. I remember fighting with a tool (perhaps it was `postcss-cli`, even) some time ago while trying to figure out how to convert the examples in the a plugin pages to actual `--` commands (don’t remember the actual issue, perhaps there were nested commands, or something).

I’m a heavy CLI user and build a lot of (mostly) `b

[2016-02-18 18:18] corysimmons commented on #1
`postcss --plugin-autoprefixer="browsers: 'last 2', remove: false" --plugin-something="foo: 'bar'"` I like that.

@ai Objections?

Also, is anyone considering stepping up to dev this?

[2016-02-18 18:20] sindresorhus commented on #1
And as commented in https://github.com/sindresorhus/meow/issues/30#issuecomment-177828711, you can use [`levn`](https://github.com/gkz/levn) to parse the value.

[2016-03-02 17:54] joshdrink opened #8 "--watch Issues when Editing Nested Files"
Hey folks! I've been running into a few issues with the --watch command not compiling when I save certain files. What's really odd about what I've observed is that it compiles files such as `post/spec/foo.css` but doesn't run on files such as `post/blocks/bar.css`. My file structure is set up as such:
[code]

My NPM script looks like this:
[code]

And I'm including the following in `options.js`:
[

[2016-03-03 14:34] rafaelrinaldi commented on #1
Thinking about submitting a PR with improved instructions on the use of a configuration JSON (instead of CLI arguments). It was kinda tricky for me at first and some people at work also got confused by it.

@ai Thoughts?

[2016-03-03 17:21] corysimmons commented on #1
It'd be nice if we exposed config files to all 3 standard config types as well as CLI args: https://github.com/davidtheclark/cosmiconfig

[2016-03-06 03:52] joshdrink commented on #8
Decided to just write a simple NPM script using watch. Works perfectly! :)

[2016-03-06 03:52] #8 closed

[2016-03-15 05:05] grantcarthew opened #9 "Input and --dir options do not support nested or sub directories"
I would like to contribute and add this feature.

I would like to use NPM scripts for my build however postcss-cli is not up to scratch due to the sub-directory support missing.

I would expect the input file parameter to support paths as a directory like `src` and the output path to support the relative path to the src. So a file with a src path of `src/a/b/c/d.css` and an output parameter as `--

[2016-03-16 01:06] grantcarthew commented on #9
Maybe a better options would be to support a similar parameter set to [node-sass](https://github.com/sass/node-sass#command-line-interface). Copied here for reference:

# node-sass cli

## Command Line Interface

The interface for command-line usage is fairly simplistic at this stage, as seen in the following usage section.

Output will be sent to stdout if the `--output` flag is omitted.

### Usa

[2016-03-29 02:55] grantcarthew commented on #3
Hi @Siilwyn, I would like to help. See  [issue#9](https://github.com/postcss/postcss-cli/issues/9).

[2016-03-29 03:02] grantcarthew commented on #9
Sorry, I just saw issue#1, will close this.

[2016-03-29 03:02] #9 closed

[2016-04-03 10:54] b3njamin opened #13 "Add the ability to force polling when watching"
You can do this by supplying options to chokidar https://github.com/paulmillr/chokidar. Could be done similarly to waitchify - https://github.com/substack/watchify/blob/master/index.js#L27

[2016-04-08 04:40] TrySound opened #15 "mkdirp"
Would be good to create dest path if it doesn't exists.
https://github.com/substack/node-mkdirp

[2016-04-08 08:51] watilde commented on #3
:raising_hand: I'm happy to support this. I really like cli projects written in Node.js.

[2016-04-08 09:03] watilde commented on #15
Nice idea! I put this feature request into https://github.com/postcss/postcss-cli/pull/16 as PR.

[2016-04-08 15:26] pirxpilot commented on #3
Great. I [was hoping someone would volunteer][1]. It makes me sad seeing PRs starting to pile up here.
I liked that you added test in your PR and unless I hear otherwise from @ai I will add you to the project.
I take it you're [watilde] on npm?

[1]: https://github.com/postcss/postcss/issues/154#issuecomment-177278640
[watilde]: https://www.npmjs.com/~watilde

[2016-04-08 15:42] watilde commented on #3
Sounds nice! Yes that's me you took, I'm same id on npm as well :blush:

[2016-04-08 16:48] corysimmons commented on #1
@ai Can you finalize this so someone can move forward?

[2016-04-08 17:16] Siilwyn commented on #3
I can help with reviewing & merging the pull requests.

[2016-04-12 02:42] pirxpilot commented on #3
Didn't hear anyone objecting so I added @watilde to project owners.
Ping me if you have any questions or if you're missing any access rights to update and release postcss-cli.

[2016-04-17 15:03] WishCow opened #20 "Watch triggering only once"
I'm probably missing something trivial, but I can't get watch to work. I'm using:

[code]

If I make a change to base.css, it is reflected in out.css, but after that, no other changes will trigger the rebuild. If I ctrl-c the postcss process, and start again, it works again for 1 modification. No output from the postcss process.

[code]

[2016-04-23 21:02] watilde commented on #15
Closing in favor of https://github.com/postcss/postcss-cli/pull/16.

[2016-04-23 21:02] #15 closed

[2016-04-24 15:16] watilde commented on #3
@pirxpilot Could you add me to the [postcss orgs](https://github.com/postcss) as well? I have a plan to integrate [greenkeeper](https://greenkeeper.io/) into this project.

[2016-04-24 17:40] ai commented on #3
I can add you to org. But please remind me, if I will not do it in few 2 days (I will hard travel to Iran abd could forget)

[2016-04-24 17:45] watilde commented on #3
Ok, sure thing! Take your time and please have fun on your trip ✈️

[2016-04-24 18:05] pirxpilot commented on #3
Normally I wouldn't do that but since @ai OKed the idea here, I have sent an org invite to @watilde
Looks like you can use your new acquired super-powers to close this issue BTW ;-)

[2016-04-26 09:54] dnepro opened #21 "Custom file extension for dir"
I've got a postcss-cli setup where i want all `*.css`-files to be minified (using cssnano) into `filename-as-it-is.min.css` in the same directory without having to specify each file and the according output file on its own, because of the huge amount of files. Is there already a solution i missed out? Otherwise is it possible to include a cli-argument/option to set the file extension, like `--file

[2016-05-08 16:58] sgtpep opened #23 "No way to pass the false boolean value for a plugin option using CLI arguments"
I'd like to pass `autoprefixer.cascade=false`. Nothing below works:
[code]

[2016-05-17 01:40] VinSpee commented on #23
im not certain that setting options works at all… any luck setting anything at all @sgtpep?

[2016-05-17 11:06] sgtpep commented on #23
@VinSpee --autoprefixer.browsers="> 0%" works fine, for example.

[2016-05-18 23:11] danielbayley opened #24 "Automatically insert postcss- prefix if absent"
Given `postcss-syntax` or `postcss-plugin` you could simply do `postcss -s syntax -u plugin` for example.

[2016-05-20 07:34] pirxpilot commented on #23
Try: `--no-autoprefixer.cascade`
See: https://github.com/code42day/postcss-cli/issues/48

[2016-05-20 09:46] sgtpep commented on #23
@pirxpilot Thank you! It quite counter-intuitive and undocumented, but it works.

[2016-05-20 09:46] #23 closed

[2016-05-21 07:11] pirxpilot commented on #23
I [documented it in postcss-cli-simple some time ago][1]
@watilde - may be you can add this (or similar) verbiage to Readme

[1]: https://github.com/code42day/postcss-cli/commit/86a1189c688eea156edf69b4e1a745a38126c89c

[2016-05-23 18:37] RyanZim opened #26 "Watch config file"
Currently when the `-w` & `-c` options are specified, postcss rebuilds the css files only when the input file changes (and does not reload the config file). If you change the config file, you need to cancel the process and re-run it.

This is irritating for me since I call postcss from an npm script that starts a dev server, my browser, etc. This script takes a bit of time to start or cancel, so I

[2016-05-24 04:25] nwmcsween opened #27 "Allow multiple input files w/ output to stdout"
It would be nice to do postcss file1 file2 file3 file4 with output to stdout if -o isn't specified.

[2016-06-01 14:38] RyanZim commented on #26
@watilde Is this something you would consider?

[2016-06-08 00:28] dwilt opened #29 "Error: Cannot find module 'autprefixer'"
Trying to run a basic command here. I `npm install`ed `autoprefixer` and am trying to run: `postcss -c options.json -o css/test.css test.css`

[code]

I can see `autoprefixer` in the `node_modules` folder and I have a `test.css` file in the root:

[code]

[2016-06-08 00:30] ben-eb commented on #29
You're missing an `o`. 😉

[2016-06-08 07:14] pirxpilot commented on #29
If you installed `postcss-cli` globally and `autoprefixer` locally you need [`--local-plugins`][1]

[1]: https://github.com/postcss/postcss-cli#--local-plugins

[2016-06-08 14:29] dwilt commented on #29
That was it, thanks!

[2016-06-08 14:29] #29 closed

[2016-06-12 09:41] #5 closed

[2016-06-13 11:12] RyanZim commented on #26
@pirxpilot Is this something you would consider?

[2016-06-13 15:09] zyy7259 opened #30 "need nested output dir"
I figure out that I can use glob expression in the 'input' field, but no corresponding nested folders generated in the output dir. Here is my configuration:

[code]

[2016-06-20 22:23] rafaelrinaldi commented on #3
I can also help reviewing PRs and whatever else is needed.

[2016-06-22 11:12] RyanZim commented on #26
@pirxpilot, @watilde bump.

I'm currently wrapping postcss with chokidar-cli as a workaround.

[2016-06-22 19:11] vbalcom commented on #30
Hi there, I've come across a similar need for nested output folders. The problem comes from the compile function, where the destination `--dir` and input basename are combined  (`output = path.join(argv.dir, path.basename(input));`), thus ignoring any nested folders, or overwriting any files with the same name.

We use index.css as an entry point for all our component css files, so we were having

[2016-06-23 22:35] grantcarthew commented on #3
I'm also happy to be involved.

[2016-06-27 15:06] RyanZim commented on #26
@pirxpilot @watilde @ai bump, bump, bump.

[2016-06-27 17:48] watilde commented on #26
Oops so sorry for my late response. Let me check it.

[2016-06-27 18:29] RyanZim commented on #20
@WishCow I am unable to reproduce with:
[code]
Is this still an issue for you?

[2016-06-28 12:00] watilde commented on #26
Thanks for the feature request. I agreed with this! I will try to create a patch and also let me keep the thing it's still `patch-welcome` as well.

[2016-06-29 08:48] 4096void opened #32 "npm install fail"
![image](https://cloud.githubusercontent.com/assets/11892251/16446245/490bc560-3e19-11e6-9886-319b2f1b5651.png)
![image](https://cloud.githubusercontent.com/assets/11892251/16446256/5104e29c-3e19-11e6-94a1-0b1a8f7e37aa.png)
my log msg...

[2016-06-30 07:49] watilde commented on #32
Hello! Thanks for reporting this. Could you let me know the versions of npm/node you used?
Also, please put your npm-debug.log if you can publish it :)

[2016-07-15 07:46] 4096void commented on #32
my mistake, request to close

[2016-07-15 07:46] #32 closed

[2016-07-23 12:43] ai opened #33 "Allow to work without plugins"
`postcss-cli` could be very useful to convert [SugarSS](https://github.com/postcss/sugarss) to CSS or CSS to SugarSS.

But I got error:

[code]

[2016-07-23 12:47] ai commented on #33
@watilde we could miss plugins count check if user set parser or stringifier

[2016-07-31 11:56] maliyshock opened #34 "glob pattern string required"
Hey everyone. Have this issue on my windows system. This issue does not apper on nix - based systems.

I`ve installed postcss and postcss-cli, cause i need to run npm scripts from terminal.
So, my package.json looks like this http://joxi.ru/4AkvbE1fMzeaj2
U can see the error on screenshot higher.
When i remove this part "| postcss --use autoprefixer --autoprefixer.browsers 'last 2 versions'" - all

[2016-08-02 13:49] ai commented on #33
@watilde any thoughts? Do you need PR? Say something ;)

[2016-08-10 15:39] RyanZim commented on #34
I can't see your screenshot. Can you paste your package.json here?

[2016-08-10 18:00] RyanZim commented on #33
@watilde bump, bump

[2016-08-11 18:08] watilde commented on #33
I apologize for my late late response to all! I totally agreed with this change so I will create a patch.

[2016-08-15 18:04] RyanZim commented on #26
@watilde Currently there's no good way to do this with yargs. Let's put this on hold until https://github.com/yargs/yargs/issues/585 is resolved.

[2016-08-18 16:37] maliyshock commented on #34
https://github.com/maliyshock/flexboxgrid

package json from this repo

[2016-08-18 16:38] maliyshock commented on #34
{
  "name": "flexboxgrid",
  "version": "1.0.0",
  "description": "Flexbox Grid\r ===========",
  "main": "index.js",
  "dependencies": {
    "autoprefixer": "^6.3.7",
    "clean-css": "^3.4.19",
    "node-sass": "^3.8.0",
    "postcss": "^5.1.0",
    "postcss-cli": "^2.5.2"
  },
  "scripts": {
    "test": "echo \"Error: no test specified\" && exit 1",
    "sass": "npm run sass:compile && npm run

[2016-08-18 16:40] maliyshock commented on #34
On mac - all works fine. The proplem exist on windows, may be this is particular case

[2016-08-18 17:07] RyanZim commented on #34
OK, I think the issue is at https://github.com/postcss/postcss-cli/blob/master/index.js#L87. postcss-cli calls globby even if there are no files specified. In your case, you passing the css through stdin, and for some reason that causes an error.

If my hunch is correct, this is a bug (though I can't test on windows; it works on linux). I'll try to make a patch soon.

CC: @watilde @pirxpilot

[2016-08-18 17:32] RyanZim commented on #34
@maliyshock OK, try this:

In your repository, run:
[code]

Try running your script again and see if it throws an error. Report your findings here.

Delete `node_modules` and run `npm install` to get your project back to where you started.

[2016-08-18 17:34] maliyshock commented on #34
Thanks. So i have bought a mac, and now i have no any problems with that bug))

[2016-08-18 18:51] RyanZim commented on #34
@maliyshock Can you close this? Thanks!

[2016-08-18 18:52] #34 closed

[2016-08-29 17:48] RyanZim opened #41 "Disconect Fork"
This was mentioned in #3, but never done.

Reasons:

- Forks do not show in GH search results: https://github.com/search?utf8=%E2%9C%93&q=postcss-cli.
- Contributions to forks are not counted on users profiles.
- A fork doesn't look like it's _"official"_.

IIRC, you need to contact GH support to do this.

CC: @ai @watilde @pirxpilot

[2016-08-29 17:54] ai commented on #41
LGTM

[2016-08-29 17:55] RyanZim commented on #41
@ai Are you going to do it personally?

[2016-08-29 17:57] ai commented on #41
I think origin repo author should ask about it from GH.

[2016-08-29 18:12] pirxpilot commented on #41
I wrote to github support to request that. Will keep you posted.

[2016-08-29 20:14] pirxpilot commented on #41
Done.

[2016-08-29 20:14] #41 closed

[2016-08-29 23:55] watilde commented on #33
This is fixed by `v2.6.0`! Please try it with new version: `npm i -g postcss-cli`.

[2016-08-29 23:55] #33 closed

[2016-09-09 00:28] valmirjunior0088 opened #42 "Using package.json for storing config"
Is there a way to store the config options inside package.json?

[2016-09-09 13:11] RyanZim commented on #1
@ai ping?

[2016-09-09 13:12] RyanZim commented on #42
@valmirjunior0088 Not currently, though it is in discussion at #1. Please close this. Thanks!

[2016-09-09 13:14] #42 closed

[2016-09-09 13:27] ai commented on #1
@RyanZim I don’t use this project, so my thoughts will not be useful :)

[2016-09-09 13:29] ai commented on #1
But, right now I am thinking about having one common config for any PostCSS runner: https://github.com/michael-ciniawsky/postcss-load-plugins and https://github.com/michael-ciniawsky/postcss-load-config

I think CLI also should use that common config.

[2016-09-09 16:32] watilde commented on #1
Personally, I agreed on this https://github.com/postcss/postcss-cli/issues/1#issuecomment-245912873 and also I'd like to update all the cli option as well at the same time, like a breaking change.

[2016-09-10 14:19] corysimmons commented on #1
👍 lgtm. Anyone want to volunteer as tribute?

[2016-09-15 22:21] michael-ciniawsky commented on #1
👋

``` --env|e ```

[code]
[code]

``` --help|h ```

[code]

```npm home $plugin``` > ```npm repo $plugin``` > ```README.md``` (e.g github-man)

```--bundle|b ```
[code]
[code]
**postcss-config-boilerplate**
[code]
**package.json**
[code]
**index.js (postcss.config.js)**
[code]

[2016-09-23 20:21] ivantcholakov opened #43 "Report a plugin version from CLI"
I call postcss through CLI from PHP code and I use Autoprefix plugin. From command line there is a way postcss version to be reported:

[code]

But I want using postcss from CLI again to query which version of autoprefixer plugin it is going to be used, but likely there is no way.

Could you add such a feature - version reporting for plugins?

[2016-09-23 20:35] RyanZim commented on #43
I'll leave the decision to others, but this is a very small edge case IMO.

How would it report multiple plugins?

[2016-09-23 20:57] ivantcholakov commented on #43
I don't mind one CLI call for reporting one plugin version. Then I could do several CLI calls if it is necessary. Maybe something like this:

[code]

https://www.npmjs.com/package/autoprefixer-cli - this package has the option for version reporting, but in the description it is said:
"The official way to use Autoprefixer is postcss-cli, this tool is for legacy code."

[2016-09-23 21:39] RyanZim commented on #43
`postcss --use autoprefixer --version` wouldn't work, the current argument parser doesn't support positional arguments like that IIRC.

What I'm wondering is: couldn't you read the package.json for autoprefixer in node_modules?

[2016-09-23 22:40] ivantcholakov commented on #43
This would not be CLI anymore.

[2016-09-23 22:54] ivantcholakov commented on #43
A wonder why positioning would be problem, this is fine too:

[code]

[2016-09-24 11:50] RyanZim commented on #43
@watilde @ai Thoughts?

[2016-09-24 16:55] ai commented on #43
I don’t think it is a postcss-cli issue. Use npm for it :)

[2016-10-23 13:02] X-Tender opened #44 "--watch mode doesn't always work correctly"
I have the following postcss config:

[code]

When I run it the files only get compiled once. When I change it from dir to one css file it works without problems.

"postcss-cli": "^2.6.0",
Window10

[2016-10-24 14:37] RyanZim commented on #44
@X-Tender How many `css` files do you have in `src/scss/`?

[2016-10-24 15:15] X-Tender commented on #44
Just two. No includes, just two files for testing.

[2016-10-24 15:18] RyanZim commented on #44
That's weird, postcss should error if you are using a single output file with multiple inputs.

[2016-10-24 17:02] RyanZim commented on #44
I'll try to poke around at this when I get time. @X-Tender if you want to post a test-case repo on GitHub so I can clone it and see the issue for myself, that would be great!

@watilde If you get to this before I do, that's fine.

[2016-10-24 20:35] RyanZim commented on #44
@X-Tender Confirmed Issue. It's not immediately obvious, but the issue is present. Will do a little debugging.

[2016-10-24 20:54] RyanZim commented on #44
OK, tracing this down a bit further, if you remove `postcss-import` from the plugin list, it works fine.

I suspect `global.watchCSS`/`updateWatchedFiles()` is the issue.

Will continue debugging.

[2016-10-25 00:04] RyanZim commented on #44
The problem is (at least partially) in the import hook for `postcss-import` https://github.com/postcss/postcss-cli/blob/master/index.js#L84.

postcss-cli formerly relied on the (undocumented) fact that inside `onImport`, `this.from` was the name of the file that contained the imports. This is no longer so; it is now `undefined`.

This causes an issue at https://github.com/postcss/postcss-cli/blob/

[2016-10-25 11:35] michael-ciniawsky commented on #44
[code]

[2016-10-25 11:39] RyanZim commented on #44
@michael-ciniawsky That is one option. Does `msg.type === 'dependency' work with other `@import` tools?

[2016-10-25 12:14] michael-ciniawsky commented on #44
@RyanZim nope, sry, I was busy with social work the last few weeks and hadn't much time for coding, need to take a look at e.g `postcss-smart-import` and friends first. Are you one of the maintainers of postcss-cli ? I'm asking because I made a roughly proof-of-concept for postcss-cli with postcss-load-config, watching @imports like stated above (although unfinished atm), 'UI' improvements. It's p

[2016-10-25 14:06] RyanZim commented on #44
@michael-ciniawsky I'm currently not an official maintainer, just a user that watches the repo and responds to almost everything.

[2016-10-25 18:54] X-Tender commented on #44
No, I don't use output file, I use output dir.
The other example I mentioned was one input file and one output file, there
the watch process work. But I notice when I define and output dir to handle
multiple files. It is runs on the initial call and once on the first
change. But after that it doest do anything after a change.

Ryan Zimmerman <notifications@github.com> schrieb am Mo., 24. Okt. 2016

[2016-10-25 20:10] RyanZim commented on #44
@X-Tender Yeah, this bug isn't present if there is only one input file.

[2016-10-25 21:09] watilde commented on #44
Hi, thanks for reporting this issue! I just tried to reproduce this issue, but I couldn't. Here is what I did: https://github.com/watilde/postcss-44

@RyanZim Thank you so much for your support as usual. Have you already got the point of the bug? It would be great if you could make a patch :) I'd love to ship it.

[2016-10-25 21:39] RyanZim commented on #44
@watilde To reproduce, add content to `a.css` & `b.css`, run postcss-cli, and try changing the content in the files. The output files will not be reliably updated.

---

@michael-ciniawsky @watilde I'll try to put together a patch using `msg.type === 'dependency'`. Don't know if I'll get to it today.

[2016-10-27 13:08] RyanZim commented on #44
Sorry so long in getting a patch together, might be next week; I'm currently quite busy trying to ship v1.0.0 over at https://github.com/jprichardson/node-fs-extra.

[2016-10-27 15:50] michael-ciniawsky commented on #44
@RyanZim kk, nope nothing done in that regard, just came and farted the `result.messages`solution 😛
@watilde Unrelated here but are you open for common config support '`postcss-load-config` in `postcss-cli`?

[2016-10-28 20:29] RyanZim commented on #44
This is blocked until https://github.com/postcss/postcss-import/issues/233 is fixed.

[2016-10-28 22:56] RyanZim commented on #44
`postcss-import` is up in the air: https://github.com/postcss/postcss/issues/906.

[2016-11-05 18:36] watilde opened #45 "Support the common config"
From this discussion: https://github.com/michael-ciniawsky/postcss-load-config/issues/18. PostCSS will have the common config file via `postcss-load-config` which will potentially be added to the core(or not). Either way, where the loader will be placed, I think it would be great if we could support it at here CLI as well, and also it means the update may make a breaking change.

For a while, we n

[2016-11-10 18:00] manishtpatel opened #47 "Something not right with --watch"
I do following commands to compile from scss to css then apply autoprefixer

`START /B node_modules\.bin\node-sass "src\scss\app.scss" "public\css\app1.css" -w -r --include-path="bower_components\foundation-sites\scss" --include-path="bower_components\motion-ui\src" --source-map=true`

`CALL ./node_modules/.bin/postcss public\css\app1.css -o public\css\app.css --use autoprefixer --autoprefixer.bro

[2016-11-10 18:06] manishtpatel commented on #47
Looking at chokidar documentation could awaitWriteFinish help?
![capture](https://cloud.githubusercontent.com/assets/249478/20188384/6aef1e52-a746-11e6-8c55-3a95e86306da.PNG)

[2016-11-10 18:09] RyanZim commented on #44
https://github.com/postcss/postcss-import/issues/233 is done, will try to get a patch together soon.

[2016-11-10 18:11] RyanZim commented on #47
@manishtpatel What's the approximate size of `public\css\app1.css`?

[2016-11-10 20:01] RyanZim commented on #47
@manishtpatel Strange.

Can you make a reduced test case repo and post it to GitHub so I can try it locally?

The other option would be to try editing https://github.com/postcss/postcss-cli/blob/master/index.js#L157 in your `node_modules` folder to set `awaitWriteFinish: true` and see if that helps.

Another possibility: try using the `--poll` option.

BTW, what's your operating system, node.js ve

[2016-11-10 20:26] RyanZim commented on #44
@watilde @ai @michael-ciniawsky Not sure exactly how we should do this. postcss-cli needs to use `onImport` or `dependency` messages, _it can't use both_.

postcss-import prior to v8.2.0 doesn't support `dependency` messages. If we stop watching `onImport` is that a breaking change?

[2016-11-11 00:15] michael-ciniawsky commented on #44
@RyanZim I'm in favour of dependency message here, because it is a postcss 'feature' available to every plugin in need of that feature, not plugin specific like `onImport` . Whenever possible imo plugin(s) should handle/use files/paths/deps in a common way which is plugin agnostic. => `result.messages`

Yep :) but when both are updated in parallel, new way works-out-of-box on both sides and it enh

[2016-11-11 13:34] RyanZim commented on #44
@michael-ciniawsky Good points.

Do you think this should be semver-major or not?

[2016-11-11 17:39] michael-ciniawsky commented on #44
@RyanZim  Ff common config support (postcss.comfig.js) lands with this change in one blow, then definitely since `config.json` -> `postcss.config.js`. Standalone also I would say, but that is @watilde last call 😛 if

[2016-11-11 21:16] RyanZim commented on #44
@watilde I am ready to make a PR for this. If this is to be released in v3, it should be based on https://github.com/postcss/postcss-cli/pull/46. Could you possibly merge that PR into a branch named `develop` so I can submit a PR for that branch?

[2016-12-12 14:48] QuantumInformation opened #48 "[Qu] Am I attemping to use this correctly?"
I am trying to `npm run pcss` here:

https://github.com/quantumjs/solar-popup/blob/master/package.json#L9

But the output file (`foo.css`) just contains the contents of src/index.pcss

Anything you can see I'm doing wrong here?

thanks

[2016-12-13 00:29] RyanZim commented on #48
@QuantumInformation You need to specify which plugins to use in your `old.config.json` file:
[code]
Passing empty objects to plugins isn't needed; however, you must list all your plugins in the `use` array in the order you want them applied.

BTW, postcss-cli doesn't support the common config yet; coming in the next major version.

If this fixes your problem (it should), please close this.

[2016-12-14 09:02] QuantumInformation commented on #48
Cheers Ryan, thats bure brill!

[2016-12-14 09:02] #48 closed

[2016-12-14 18:31] QuantumInformation opened #49 "Watch mode should produce some console output every time compilation runs"
ATM nothing is output to the console, would be nice to see success msg.

[2016-12-16 00:12] RyanZim commented on #49
:+1: I would agree this would be nice in some cases, especially if your css build takes a while to complete. It would probably be best to include a timestamp in the message.

[2016-12-31 11:02] QuantumInformation commented on #48
I'm now getting an error for this config file:

[code]

the log:

[code]

[2016-12-31 11:08] QuantumInformation commented on #48
I just tried the old config previously discussed, still same issue.

Using v2.6.0

[2016-12-31 13:35] RyanZim commented on #48
@QuantumInformation Strange. Can you create a reduced test case and post it as a gist or repo on GitHub?

[2016-12-31 15:59] QuantumInformation commented on #48
ok

[2017-01-03 05:41] QuantumInformation commented on #48
@RyanZim I probably made a mistake somewhere so I went the ease route and used the webpack loader to process my postcss. My other postcss-cli project still going good.

[2017-01-03 22:56] RyanZim commented on #47
Going to assume this is resolved.

[2017-01-03 22:56] #47 closed

[2017-01-03 22:59] #43 closed

[2017-01-03 23:01] RyanZim commented on #27
I would consider this for the future; It probably won't happen anytime soon, though.

[2017-01-03 23:03] RyanZim commented on #24
What about plugins like https://github.com/ben-eb/cssnano that don't have a `postcss-` prefix? We would need some sort of trial-and-error logic for this.

[2017-01-03 23:04] RyanZim commented on #21
I don't think there's a way to do this currently. Possibly in the future.

[2017-01-03 23:04] #21 closed

[2017-01-03 23:04] RyanZim commented on #20
Closing for lack of response.

[2017-01-03 23:04] #20 closed

[2017-01-03 23:06] RyanZim commented on #13
Fixed in https://github.com/postcss/postcss-cli/pull/14 and released as v2.6.0.

[2017-01-03 23:06] #13 closed

[2017-01-03 23:37] RyanZim opened #51 "General Discussion about Project Direction"
For those of you that don't know, @ben-eb added me as a collaborator here. I would like to move the project forward towards the v3 major release.

My primary goals for v3 are:

- [ ] Support @michael-ciniawsky's common config https://github.com/michael-ciniawsky/postcss-load-config _https://github.com/postcss/postcss-cli/issues/45_
- [ ] Fix bugs in `--watch` and use the new `message.type.dependen

[2017-01-04 05:01] michael-ciniawsky commented on #51
### Streams

[glob-stream](https://github.com/gulpjs/glob-stream) || [vinyl-fs](https://github.com//gulpjs/vinyl-fs) [ + [pump](https://github.com/mafintosh/pump)]

**lib/postcss.js**
[code]

**index.js**
[code]

### `postcss.config.js` (Common Config)

- `--config|-c` should scaffold a `postcss.config.js` file if missing, alternatively plugins/options set via '--use|-u` should create a `postcss.c

[2017-01-04 13:22] RyanZim commented on #51
@michael-ciniawsky Some good points.

I'd like to make sure @ai is OK with switching to postcssrc-cli as the main codebase before starting work on this. @ai are you OK with moving forward in this direction?

---

I disagree on a few of your suggestions above, but let's wait to bikeshed about them until we get official word from @ai. (Threads in the postcss org tend to get long & noisy :wink: )

[2017-01-04 13:39] ai commented on #51
I like this 3 steps — they are very important. But don’t forget to some help for migration. Maybe config migration tool?

I am OK with rewritting code from scratch/ Sometimes it is the best solution :).

[2017-01-04 13:47] RyanZim commented on #51
:+1: I think this is one of those cases.

Yeah, will definitely add at least a detailed migration guide; not sure about a config tool yet, we'll see.

@michael-ciniawsky Will try and get a `develop` branch asap.

[2017-01-04 13:53] RyanZim commented on #26
We will be supporting the common config in v3, which should allow us to do this, so adding this issue to the v3 milestone.

[2017-01-04 14:08] RyanZim commented on #51
@michael-ciniawsky A couple things:

I'm not totally sold on streams yet. They might be a good idea, but let's get v3 shipped ASAP without streams. Then we can revisit this for a later version.

---

:+1: See https://github.com/postcss/postcss-cli/issues/26.

---

Yep, we should support setting the `ctx` from the CLI. Not sure what the flag should be called, or what the usage should be.

Strawman

[2017-01-04 14:42] ai commented on #51
Yeap, migration guide will be s solution too.

[2017-01-04 15:45] RyanZim commented on #51
@michael-ciniawsky @ai Branch is here: https://github.com/postcss/postcss-cli/tree/develop.

Please look over it and point out any mistakes I made (if forgot to change postcssrc-cli to postcss-cli somewhere, etc.).

[2017-01-04 16:05] ai commented on #51
Sorry, I ma in the middle of installing new system :).

[2017-01-04 18:00] michael-ciniawsky commented on #51
Shouldn't be to difficult to implement though and `process.stdout/process.stderr` smells streamy anyways, so this could simplify the codebase imho. Agreed that it's nice-to-have and not mandatory atm.

@RyanZim Yep we need an init module for the CLI, primary for CLI users and as convenience method for scaffolding/updating a config in general.

**lib/config.js**
[code]

[code]

Well if no `postcss.

[2017-01-04 18:31] RyanZim commented on #45
Done in the develop branch.

[2017-01-04 18:31] #45 closed

[2017-01-04 18:32] watilde commented on #3
Since I couldn't make enough time recently, let me ask about a possibility to have a new maintainer in this repository, that I hope it's good for this community. Of course, I'd love to support.

I'd recommend @RyanZim if he has an interest because you could see how he is contributing to the community.

[2017-01-04 18:34] RyanZim commented on #3
@watilde: Glad to know you like the idea of me maintaining postcss-cli. @ben-eb added me as a collaborator yesterday, and I am begining to work as a new maintainer. See https://github.com/postcss/postcss-cli/issues/51.

[2017-01-04 18:52] RyanZim opened #52 "Allow setting context via command line"
As mentioned in https://github.com/postcss/postcss-cli/issues/51.

Currently, we have `--env` to allow setting `process.env.NODE_ENV` for `postcss.config.js`. We also have command-line flags to override the syntax, parser, stringifier, & map options specified in the config.

We should have an additional command-line flag to allow passing other values via `ctx` to `postcss.config.js`.

My strawman

[2017-01-04 18:58] RyanZim commented on #51
I know we did this for `postcss-import`, but I'm not sure if discussing **everything** related to a new release in a single issue is a good idea. We end up with a terribly long disorganized thread.

I've created a GitHub Project for v3, outlining most of what needs done. If I missed something that needs done, please open an issue, & I will add the issue to the appropriate column. Project is here:

[2017-01-04 18:58] #51 closed

[2017-01-05 15:12] RyanZim commented on #1
@thomasklein Right now, we are working on postcss-cli v3. That is a complete rewrite that will use https://github.com/michael-ciniawsky/postcss-load-config, which uses cosmiconfig under the hood. See https://github.com/postcss/postcss-cli/projects/1 for more details and progress updates.

[2017-01-06 22:12] RyanZim opened #55 "v3: --config doesn't work"
I can't seem to get the `-c|--config` option working on the `develop` branch.

Can't investigate ATM, but this needs fixed or removed before the release.

CC: @michael-ciniawsky

[2017-01-06 23:08] michael-ciniawsky commented on #55
We could handle it in the way, if '--use|-u'  config (inline) specified => run without `postcss-load-config`

[code]

[2017-01-06 23:26] michael-ciniawsky commented on #55
It doesn't work because I didn't use it until now, it's for the case an alternative config path is needed for `postcss-load-config` to start searching for `postcss.config.js` in separate e.g `./config` folder.

[2017-01-07 00:58] RyanZim commented on #55
@michael-ciniawsky

Is that really a use-case we need to support?

---

That brings up an interesting point, what should the behavior of `--use` be if plugins are specified in the config? Should we entirely bypass the config? The config could still specify parser, etc. @ai Thoughts on this?

[2017-01-07 01:03] ai commented on #55
I think `-u` should disable config. Use arguments if you start it :).

[2017-01-07 01:15] RyanZim commented on #55
SGTM, just didn't know what to think. BTW, thanks for answering all these quick questions I throw at you. :smile:

[2017-01-07 02:08] michael-ciniawsky commented on #55
While I don't use it myself, people started to ask for it @postcss-loader, it's not difficlt to implement just pass `argv.config` as second argument to `postcssrc(ctx, argv.config)`

Thats actually the issue with `--ctx|-x` && `--use|u`, we could break the current `-u` behaviour make it the CLI command for working with `ctx` and `postcss.config.js` is mandatory from `v3+` or separate it enterily f

[2017-01-07 12:27] RyanZim commented on #55
@michael-ciniawsky I am strongly opposed to requiring a `postcss.config.js`. That would hurt the following use-cases:

- Using as an autoprefixer CLI: `postcss --use autoprefixer *.css -d build/` (Copied from autoprefixer's docs: https://github.com/postcss/autoprefixer#cli) This might be used by some projects that use sass, less, or stylus, and only use autoprefixer.
- SugarSS compiler: `postcss -

[2017-01-07 13:17] michael-ciniawsky commented on #55
@RyanZim That would work as before it just scaffolds a `postcss.config.js`  if none in cwd() found, could be in os.homeDir() and/or even a tempfile then, it's just about the initial use and to get plugin loading logic from `postcss-load-config`, we can of course also bypass it and add new context command. its just the question which approach is easier and introduces lesser bloat.

[2017-01-07 14:20] RyanZim commented on #55
@michael-ciniawsky Don't bother writing a file to be loaded by `postcss-load-config`. I'm not sure that it would make it any easier, and that's an extra file read/write. The primary performance bottleneck with anything like this is the file system; we want to optimize this as much as possible.

FYI, I'm in the middle of doing some major refactoring to index.js that should make implementing `--use`

[2017-01-07 22:21] michael-ciniawsky commented on #55
Yep, I/O before processing contents especially when it is for quick access is surely bad.
Ok, let's wait for your `--use` implementation and iterate from there, I will try to find a solution afterwards and we'll see whats possible.

[2017-01-08 00:22] RyanZim commented on #55
SGTM

[2017-01-09 23:56] RyanZim commented on #49
@QuantumInformation This will be fixed in v3.

[2017-01-09 23:56] RyanZim commented on #44
This will be fixed in v3.

[2017-01-10 21:32] RyanZim opened #59 "Don't enforce .css extensions"
In the v3 code, the output file's extension is coerced to `.css`: https://github.com/postcss/postcss-cli/blob/develop/index.js#L124-L126.

Is that desirable behavior?

CC: @ai

[2017-01-10 21:36] RyanZim commented on #55
Another related question for @ai:

Should we allow setting the output file via `options.to` in the postcss config? I'm inclined to say no, since this would introduce complexity.

[2017-01-11 00:19] RyanZim opened #61 "Drop -i for v3"
Unless someone objects, I'd like to remove the little-known `-i` option. It was simply an alternate way to specify the input files, and was never documented.

CC: @ai

[2017-01-11 04:11] ai commented on #59
PostCSS could be used for `.scss` → `.scss` transformation too :(.

[2017-01-11 13:34] RyanZim commented on #59
You're right; I will remove that logic.

[2017-01-12 01:06] RyanZim commented on #59
Fixed in dbdc330

[2017-01-12 01:06] #59 closed

[2017-01-13 12:42] QuantumInformation commented on #49
good stuff!

[2017-01-13 18:14] wbyoung opened #64 "Config file format is misdocumented"
I know this probably doesn't matter much since v3 work & #55 probably supersedes it, but the [first two config formats](https://github.com/postcss/postcss-cli/tree/80bf8615cd6f3a98af4200dc7bdd89e4a88d3705#--config-c) don't seem to work, and there also [doesn't seem to be anything](https://github.com/postcss/postcss-cli/blob/80bf8615cd6f3a98af4200dc7bdd89e4a88d3705/index.js#L11-L12) in the current

[2017-01-13 18:21] RyanZim commented on #64
@wbyoung Config file loading is handled by yargs itself. https://github.com/postcss/postcss-cli/blob/80bf8615cd6f3a98af4200dc7bdd89e4a88d3705/index.js#L11 tells yargs to treat that option as a file to load config from.

Usage is `postcss -c postcss.config.json`.

If this doesn't work for you, let me know and I'll reopen.

[2017-01-13 18:21] #64 closed

[2017-01-13 20:19] wbyoung commented on #64
@RyanZim right, I understood that's what was happening in the code via `yargs`. The examples still don't work, and there's nothing that would transform those examples (based on the docs of `yargs`) into `use` arguments to be processed by `postcss-cli`.

Example of a JSON file with keys **not working**:

[code]

[code]

Example of a JS file with keys **not working**:

[code]

[code]

But the final

[2017-01-13 21:02] RyanZim commented on #64
Docs are a bit unclear.

You still have to specify `use`, a list of plugins to use.

Example:
[code]

The other example configurations would still require doing `postcss -u autoprefixer -c postcss.config.json`.

Given that v3 totally redoes configuration, I don't think I'll bother with the docs for v2.

[2017-01-13 21:11] wbyoung commented on #64
Ah, got it. Thanks, @RyanZim.

[2017-01-14 01:55] michael-ciniawsky opened #68 "Logo"
Can someone please enable gh-pages for this repo so the CLI logo is getting displayed correctly?

[2017-01-14 01:59] michael-ciniawsky commented on #61
Close ? 😛

[2017-01-14 02:05] michael-ciniawsky commented on #55
@RyanZim `-c|--config` flag should work similiar to `postcss-cli` =< v2. Given as second argument to postcssrc this overrides the path where it starts searching for `postcss.config.js`. Use(less ;))case we often had requested @postcss-loader is e.g

[code]

[code]

[2017-01-14 02:09] michael-ciniawsky commented on #26
@RyanZim Seems to be trickier then I thought 😛 , do you have started anything in this regard already?

[2017-01-14 04:38] ai commented on #61
No docs → no public API → we can remove it :D

[2017-01-14 04:39] ai commented on #55
In this case, I agree :)

[2017-01-14 04:39] ai commented on #55
@michael-ciniawsky maybe we should remove `options.to` from postcss-load-config — nobody use it :D

[2017-01-14 04:48] michael-ciniawsky commented on #55
@ai Yep :D, I will test across all build tools when integration is completed and remove it from `postcss-load-config` when no valid usecase found. Build tools should always use their I/O logic if available

[2017-01-14 12:01] RyanZim commented on #68
Ping @ai, I can't access the settings tab.

[2017-01-14 12:02] RyanZim commented on #26
@michael-ciniawsky I'll hit this asap.

[2017-01-14 12:02] #61 closed

[2017-01-14 12:09] ai commented on #68
[Done](https://github.com/postcss/postcss-cli/tree/gh-pages). Remove empty `logo.png` before work.

[2017-01-14 12:09] #68 closed

[2017-01-14 12:20] RyanZim commented on #68
@michael-ciniawsky I'll finish this job.

[2017-01-14 12:55] michael-ciniawsky commented on #26
I played around with declaring a variable in global scope assigning the `config.file` `configFile = arr[1].file` to, but adding it to `watcher.watch([ input, configFile ])` doesn't work because of watcher logic . The question is how to trigger a rebuild of all files, but tbh I didn't check chokidar docs for all possible optons until now.

[2017-01-14 12:59] RyanZim commented on #26
Don't worry, I'll get it.

[2017-01-14 13:04] RyanZim commented on #68
Fixed

[2017-01-17 15:51] michael-ciniawsky commented on #55
@RyanZim TL;DR Close

 I 'fixed'  `-c|--config` it in the errors branch, the reason was `yargs.config` expects a valid JSON config (whatever that is). Removing it solved the problem and `argv.config` is just a string passed to `postcss-load-config`.

[2017-01-17 15:55] michael-ciniawsky commented on #26
@RyanZim fixed via #69

[2017-01-17 17:12] #26 closed

[2017-01-17 17:12] #55 closed

[2017-01-17 17:13] RyanZim commented on #55
@michael-ciniawsky I want to make sure that the v2-related stuff doesn't apply to v3 also, but this is something that should be done.

[2017-01-17 17:19] RyanZim commented on #3
Going to close this since I am now active maintainer, and v3 is a WIP.

[2017-01-17 17:19] #3 closed

[2017-01-17 17:21] RyanZim commented on #49
Closing, will be released in v3.

[2017-01-17 17:21] #49 closed

[2017-01-17 17:22] RyanZim commented on #44
Fixed on the `develop` branch, will be released in v3.

[2017-01-17 17:22] #44 closed

[2017-01-17 17:43] RyanZim opened #70 "--map option"
What is the optimum usage for the `--map` option?

We need to support inline maps and `filename.css.map` files.

Do we need to support writing the map file to a different filename? I would be inclined to think not.

CC: @ai @michael-ciniawsky

[2017-01-17 17:54] michael-ciniawsky commented on #70
In my opinion 'inline' or in 'tandem' with the css file (output/options.to)

**index#processCSS**
[code]

[2017-01-17 18:03] RyanZim commented on #70
Yeah, I think external maps are a good default, how should we allow disabling them or specifying inline maps?

`postcss --map inline ...` & `postcss --map false ...`?

[2017-01-17 18:06] ai commented on #70
* inline map by default (already implemented in PostCSS core)
* copy all maps settings if input file contains map (already implemented in PostCSS core)
* allow to save in `INPUT.map` file.
* allow to save in file, but remove `/*= sourceMap…*/` annotation comment.

[2017-01-17 18:11] RyanZim commented on #70
@ai OK, any recommendations on the best usage for the command line flag?

[2017-01-17 18:13] ai commented on #70
@RyanZim I am not good in CLI arguments design :(. Up to you.

[2017-01-17 18:16] michael-ciniawsky commented on #70
```postcss --map false``  No Sourcemap
```postcss --map file || postcss --map 'path/to/file.ext.map'``` // postcss --map file is weird :D

[2017-01-17 18:18] ai commented on #70
Also Sass and Uglify could be used as example.

[2017-01-17 18:18] michael-ciniawsky commented on #70
mom

[2017-01-17 18:26] michael-ciniawsky commented on #70
let's dot it like in gulp :D

[code]

[2017-01-17 21:00] RyanZim commented on #70
I don't really like any of the proposals so far. How about splitting it into two flags?
[code]

[2017-01-17 21:32] michael-ciniawsky commented on #70
`--map-disable` for consistency resaons, but `'.'` or `path/where/to/save/file.ext.map` vs. `--map-file` or `--map-file path/../`, note that with two flags we loose shorthand `-m` / get `md`&& `mf` which is unintuitive ihmo.

[code]

[code]

[2017-01-17 21:39] michael-ciniawsky opened #72 "Expose Options, File && ENV (Context)"
[code]
I will update later, just a quick note for now :)

[2017-01-18 06:32] ai commented on #70
`--no-map` is more popular way to disable feature in CLI.

[2017-01-18 10:15] michael-ciniawsky commented on #70
Yep `--no-map` and `--map <path>` is another good option

[2017-01-18 14:47] RyanZim commented on #70
:+1: I'm still not sure if we need `--map <path>`, why not make `-m|--map` a boolean flag for external maps?

[2017-01-18 16:05] michael-ciniawsky commented on #70
Ok if it is a `{Boolean}` param, `--no-map` / ` --map` is ok , but the shorthands `-m` / `-nm` ? Why not simply

[code]

[2017-01-18 18:14] RyanZim commented on #70
I wouldn't bother with a shorthand for `--no-map`. `-m` works fine for `--map`.

[2017-01-18 18:19] michael-ciniawsky commented on #70
kk so we agreed upon `--map` and `--no-map`? Because I'm on updating the docs 😛

[2017-01-18 18:53] RyanZim commented on #70
Yep. Thanks for doing the docs, BTW.

[2017-01-19 01:11] RyanZim commented on #70
Done: https://github.com/postcss/postcss-cli/pull/73

[2017-01-20 18:49] #70 closed

[2017-01-20 18:50] RyanZim commented on #72
Mind doing that soon? :stuck_out_tongue_winking_eye:

[2017-01-27 22:58] RyanZim opened #77 "Don't use a spinner when waiting for changes"
At https://github.com/postcss/postcss-cli/blob/develop/index.js#L105 we are using a spinner to display the message `Waiting for file changes...`.

Often when developing, I will put the watch process in the background, and use the same terminal to do other tasks (i.e. git operations). With a spinner, there will be constant output, overwriting the command prompt. This makes for a poor UX.

I propose

[2017-01-30 19:01] aesopturtle opened #78 "postcss-cli do not copy folder structure from input files when pattern is used"
I am trying to compile multiple `*.pcss` files and have the `*.css` output sit in the same directory. For example, I have the following structure:
[code]
When running:
[code]
I expect:
[code]
But what I got is:
[code]
So there are 2 issues here:
1. The output doesn't have the same folder structure as the input when used with pattern.
2. I don't seem to be able to specify the output file extension

[2017-01-30 19:05] michael-ciniawsky commented on #78
👋  Do you see a red logo when `postcss -v`

[2017-01-30 19:06] aesopturtle commented on #78
@michael-ciniawsky Yep. It says 2.6.0.

[2017-01-30 19:06] michael-ciniawsky commented on #78
Version printed should still display 2.6.0 since it's not updated yet

[2017-01-30 19:07] aesopturtle commented on #78
I see.

[2017-01-30 19:07] michael-ciniawsky commented on #78
When you see the red postcss logo you are on v3@beta :) Place the `postcss.config.js` in the root of your project for getting started

[2017-01-30 19:11] aesopturtle commented on #78
I tried with just `postcss --use precss src/**/*.pcss --dir out/` but still got `Cannot find module 'src/**/*.pcss'`

[2017-01-30 19:12] RyanZim commented on #78
@aesopturtle Try `postcss src/**/*.pcss --use precss --dir out/`

[2017-01-30 19:14] aesopturtle commented on #78
@RyanZim That works! :D
But it still doesn't copy the folder structure. All files in subfolders are output under the same folder (`out/`) and the extension remains `pcss`.

[2017-01-30 19:16] RyanZim opened #79 "--ext option"
Refs: https://github.com/postcss/postcss-cli/issues/78

We need an `--ext` option to allow setting the file extension when using `--dir`.

**Edit:** Just realized this will also solve the problem of people wanting to output to `.min.css`.

---

Should we rename `.pcss` to `.css` automatically? I think this is a bit too magical.

CC: @michael-ciniawsky @ai

[2017-01-30 19:17] RyanZim commented on #78
1. This is a known issue with both v2 & the development version; issue is here: https://github.com/postcss/postcss-cli/issues/30.
1. Opened a new issue for that here: https://github.com/postcss/postcss-cli/issues/79.

[2017-01-30 19:17] aesopturtle commented on #78
As far as I remember, if the input has multiple files, either `-d` or `-r` must be specified, right? How about... if `-d` or `-r` is not specified, we output at its own folder?

[2017-01-30 19:17] aesopturtle commented on #78
@RyanZim Thanks :)

[2017-01-30 19:18] ai commented on #79
I found a case when you need to keep `.pcss` — postcss-sorting and other source-to-source transformation. So right now I am against auto-renaming.

[2017-01-30 19:18] RyanZim commented on #78
@aesopturtle Not sure what you mean; what would the files be named?

[2017-01-30 19:18] ai commented on #79
But maybe we could use `--ext pcss` for `.pcss` → `.pcss` transformation?

[2017-01-30 19:19] RyanZim commented on #79
Me too; what's so bad about `--ext .css`?

[2017-01-30 19:20] aesopturtle commented on #78
@RyanZim The output file should have the same name but with an extension following `--ext`(?) option.

[2017-01-30 19:21] michael-ciniawsky commented on #79
@RyanZim I'm try to implement this with the few changes I'm still working on, but I had other work the last days. 80%

Personally also against autorenaming bacause of stylelint, sorting, recommenting with postcss-scss etc. The flag approach is fine imho

[2017-01-30 19:23] RyanZim commented on #78
Not in favor of that; since the `--ext` option will only be used in a few cases. Also would be confusing upgrading from v2.

[2017-01-30 19:23] michael-ciniawsky commented on #79
```postcss --ext|-e '.extname'``` or ```postcss src/**/*.pcss -o dest/**/*.css``` but the latter is confusing 🙃

[2017-01-30 19:24] aesopturtle commented on #79
@michael-ciniawsky I agree. `--ext` seems cleaner to me too :)

[2017-01-30 19:26] RyanZim commented on #79
That settles the autorename question.

---

Agreed, let's stick to `--ext`.

---

One question: should we ensure that `--ext` starts with a period? That would allow for

    postcss *.pcss --ext css -d out

I can't see any drawbacks to this.

[2017-01-30 19:27] ai commented on #79
`--ext css` is OK for me

[2017-01-30 19:27] michael-ciniawsky commented on #78
@ai Are options an the result {Object} ?
@RyanZim Maybe we can use it for getting the dirname from options.from or otherwise I need to find something else

[2017-01-30 19:28] RyanZim commented on #78
@michael-ciniawsky :confused: What are you trying to say?

[2017-01-30 19:29] michael-ciniawsky commented on #79
ok I implement `--ext` for now we can refcator and final review if needed :)

[2017-01-30 19:30] RyanZim commented on #79
@michael-ciniawsky OK, If you prefer, I'd be more that glad to do it.

[2017-01-30 19:40] michael-ciniawsky commented on #78
For nested output directory support we need to get the dirname of the src/**/*.css glob => `/**/` somewhere, just thinking out loud where :D at best

[2017-01-30 19:48] RyanZim commented on #78
@michael-ciniawsky Here was a PR for v2: https://github.com/postcss/postcss-cli/pull/31. That may give you some ideas.

At any rate, I'm going to close this issue since discussion has moved elsewhere.

@michael-ciniawsky If you want to do more thinking out loud, do it on gitter, there are plenty of helpful people there.

[2017-01-30 19:48] #78 closed

[2017-01-30 19:51] michael-ciniawsky commented on #79
@RyanZim Alright if I don't push until tomorrow, bc of the social work line or whatever :) just go ahead, the problem is that I need to rearrange the code a bit to get

[code]
**postcss.config.js**
[code]

Do *each* file must be exposed to `postcss-load-config`, mainly adding the config stuff to `processCSS` and assign them with the command line config. Also options can always be assigned as long

[2017-01-30 19:58] RyanZim commented on #79
Is running each file through `postcss-load-config` a WIP?

[2017-01-30 20:51] michael-ciniawsky commented on #79
More or less yes if you have a working solution share it

[2017-01-30 21:16] RyanZim commented on #79
I haven't done anything, just wondered if you were working on it.

[2017-01-31 13:56] #72 closed

[2017-02-03 00:03] RyanZim opened #82 "Print plugin warnings to stderr"
Just opening an issue about this, will do myself.

[2017-02-03 00:06] RyanZim commented on #52
@michael-ciniawsky ping?

[2017-02-03 00:10] RyanZim opened #83 "v3 questions"
Attn: @ai @michael-ciniawsky

Some odds and ends that need answered before v3:

- https://github.com/postcss/postcss-cli#--local-plugins - Do we need this for v3?
- v2 allowed passing options to plugins via the command line (`--plugin.option=value`). IMO this should be in the config file, anyone disagree?

I may ask additional questions later in this thread.

[2017-02-03 01:54] michael-ciniawsky commented on #52
I currently expose the `config.options` to `ctx`

[code]
[code]

The following is not working and is a mess, how did postcss-cli v2 `--use` work ? Someting like `options.plugins.key = value` would still be valuable though

[code]

[2017-02-03 02:37] michael-ciniawsky commented on #83
1. `--local-plugins`is superseded by `postcss-load-config`
2. Depends it doesn't hurt, personally find it verbose and would avoid it

[2017-02-03 02:37] michael-ciniawsky commented on #79
Implemented => Can be closed :)

[2017-02-03 16:42] Ryuno-Ki opened #84 "Can't pass options to local plugin"
Today I encountered a problem with the usage of both, the CLI and the config option.

Say I have a postcss plugin `foo` stored in `plugins` (so the path to file is `./plugins/foo.js`).
Assume, that my plugin expects an option called `bar`.

On CLI I would invoke the CLI this way: `node_modules/.bin/postcss --use './plugins/foo' --./plugins/foo.bar "baz"`.

After looking into why my plugin didn't r

[2017-02-03 23:43] RyanZim commented on #83
@michael-ciniawsky I agree :100:

[2017-02-03 23:46] RyanZim commented on #84
@Ryuno-Ki We are going to be releasing v3 soon; hopefully by Saturday. That will completely overhaul the way you pass options to plugins, so not going to fix this for the small period that remains for v2. Sorry for the inconvenience.

[2017-02-03 23:46] #84 closed

[2017-02-03 23:46] michael-ciniawsky commented on #83
@RyanZim How did v2 handle `postcss -u plugin --plugin.options.key [ options, option ] => {Array}` ?

[2017-02-03 23:56] RyanZim commented on #83
v2 usage:

`postcss -u postcss-url --postcss-url.url=copy` would run `postcss-url` with the `url` option set to `copy`.

IIRC, the dot notation was handled by yargs. I'm not anxious to support this in v3.

[2017-02-04 00:02] michael-ciniawsky commented on #83
Yep for key values -> `{String}` ok, but if e.g `-u postcss-import --postcss-import.path [Array]`
one would need to repeat `--postcss-import.path 'path'` several times right?

[2017-02-04 00:03] RyanZim commented on #83
I dunno, I always used a config file when I needed options.

[2017-02-04 00:18] michael-ciniawsky commented on #83
I also never used it, it's not convenient, but maybe for a quick change

[code]

On the other hand `autoprefixer`, `stylelint`  && `cssnano` have ther own CLI's

[2017-02-04 00:29] RyanZim commented on #83
Nah, kill it. If people really want it, we can re-add it.

[2017-02-04 00:48] michael-ciniawsky commented on #83
Yep, done. The main remaining part is the watcher, but I can push it in it's 'initial state' and you can finally also start working on shaping the edges, bc in the v3 PR I idiotically forgot to checkout a branch 🤕

[2017-02-04 16:18] RyanZim commented on #52
@michael-ciniawsky So what are we doing here?

[2017-02-04 18:56] RyanZim commented on #83
@michael-ciniawsky Should we support `--map`/`--no-map` overriding `postcss.config.js`?

[2017-02-04 19:57] #82 closed

[2017-02-04 20:13] RyanZim commented on #79
The current implementation doesn't ensure that `--ext` starts with a period; will implement.

[2017-02-04 21:03] RyanZim commented on #79
Fixed in 43fc5db958e92ac4c746a2283dfc676b8b8e92aa

[2017-02-04 21:03] #79 closed

[2017-02-04 21:04] RyanZim commented on #77
Fixed

[2017-02-04 21:04] #77 closed

[2017-02-05 00:01] RyanZim opened #85 "v3 release"
Let's face it: I don't think we're going to make our self-imposed deadline of having v3 shipped by tonight. There are still some odds and ends to clean up, and I'm too tired to trust myself releasing a major version tonight.

How about if we release `v3.0.0-beta` ~Monday and allow people to test it? Then when I get off my crazy hours in about 2 weeks, we can release v3.0.0 proper.

@michael-ciniaw

[2017-02-05 02:47] michael-ciniawsky commented on #83
@RyanZim It doeslike that atm

[code]

**postcss.config.js**
[code]

[2017-02-05 02:50] michael-ciniawsky commented on #85
Yep, imho ship a beta and let folks test it  in && out first, I also have quite much on the plate atm and testing 'in the wild'  is always a good idea :) 👍

[2017-02-05 02:54] michael-ciniawsky commented on #52
Options can be set via the CLI, only plugin options must be defined in the config itself

[code]

**postcss.config.js**
[code]

[2017-02-06 10:53] RyanZim commented on #52
So we don't need custom context?

[2017-02-06 10:54] RyanZim commented on #83
I meant:

    postcss -m

**postcss.config.js**

[code]

Would still output an external sourcemap. I guess it's not really needed.

[2017-02-06 10:55] RyanZim commented on #85
OK, will ship beta when I get a chance.

[2017-02-06 19:02] michael-ciniawsky commented on #52
Well It  would into the direction like `-- ctx ctx.key value` which is similiar to `-u plugin.option value` and we decided to not support atm. In the future we can try to add the `-u ..` to the context e.g `ctx.option.plugins`

[code]

[2017-02-06 19:08] michael-ciniawsky commented on #83
It would ? You mean by postcss-cli logic or bc I set the fallback `options.map` option wrong in the example ? 😛 `postcss.config.js` should affect maps e.g enable separate file ouput via config

[2017-02-07 00:57] RyanZim commented on #52
:+1: Perhaps should be `ctx.plugins`, but, yeah.

---

Can you document what's currently available via `ctx`?

[2017-02-07 00:58] RyanZim commented on #83
@michael-ciniawsky I'm asking if we should support this behavior; it doesn't work that way now.

[2017-02-07 01:32] michael-ciniawsky commented on #83
@RyanZim  It currently overrides `config.options.map`.

[code]

**postcss.config.js**
[code]

[code]

[2017-02-07 01:40] michael-ciniawsky commented on #52
Yep `ctx.plugins`  of course 😛 . yep I will make docs about it

[2017-02-07 23:02] RyanZim commented on #83
@michael-ciniawsky So in the above example, if you ran

     postcss src/index.css -o dest/index.css -w

instead; would the output change?

[2017-02-08 00:18] RyanZim commented on #83
Oops, typo: if you ran

    postcss src/index.css -o dest/index.css -w -m

What should the output be?

[2017-02-08 00:33] michael-ciniawsky commented on #83
You need to set `map: ctx.options.map` in `postcss.config.js` for this to work

[2017-02-08 00:37] RyanZim commented on #83
:+1: Makes sense.

---

Here's a rough draft of a migration guide: https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2----v3. Let me know what you think.

[2017-02-08 01:22] michael-ciniawsky commented on #83
Yeah more or less 😛 , if someone uses `postcss.config.js`+ wants to set PostCSS Options via CLI sometimes he/she needs to reference it in `postcss.config.js` or hard code it and use CLI for file I/O only. I document this with the outstanding `ctx` docs. I also found no critical bugs in terms of usage until no so imho a `postcss-cli@3.0.0-beta` is justifiable. Only the UI is a little buggy, why is

[2017-02-08 11:26] RyanZim commented on #83
When processing multiple files at once, it doesn't always print a full list of files processed with a global spinner.

What I was saying about background processing is that I don't want a spinner displaying the `Watching for file changes` message. I just want it `console.warn`ed.

---

Yeah, why not. @watilde @pirxpilot could you see if https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2

[2017-02-08 13:43] watilde commented on #83
@RyanZim Looks neat! The context parameter in the third example would be useful for fine adjustment and debug :)

[2017-02-08 21:52] michael-ciniawsky commented on #83
@RyanZim  kk, I need to check that, but can I propose another solution via PR ?

@RyanZim  Yep agreed, there must be no running spinner while waiting for changes, I also seems like this had notable performance impacts. Ora also writes to `process.stderr` so  a [`setTimeOut`] and `spinner.stopAndPersist()` === console.warn()`.

![bug](https://cloud.githubusercontent.com/assets/5419992/22758912/db0b

[2017-02-09 01:19] michael-ciniawsky commented on #52
Fixed by #86

[2017-02-09 23:36] RyanZim commented on #83
I'd say let's get beta shipped at least. We can always improve later.

[2017-02-09 23:37] #52 closed

[2017-02-10 00:59] michael-ciniawsky commented on #83
@RyanZim yep, yep of course :shipit: , see what critical bugs maybe occur, the above are just cosmetics we resolve before *v3@latest* 🙃

[2017-02-10 06:58] shirleyMHao commented on #30
@vbalcom , i use the context，but it doesn't work.
input directory structure like
`base
  -- css
       ----1.css
       ----testfolder
             ----2.css
       ----testfolder2
             ----3.css`
I expect :
`dist
  -- css
       ----1.css
       ----testfolder
             ----2.css
       ----testfolder2
             ----3.css`
my postcss.config.js
`
but it seems to process the root dire

[2017-02-10 11:19] RyanZim commented on #83
Here's a draft of the CHANGELOG: https://github.com/postcss/postcss-cli/wiki/v3-changelog-draft. Did I miss anything?

[2017-02-10 17:57] vbalcom commented on #30
@shirleyMHao the context will always be the path to the folder from the root. So for your project structure, you would use `context: 'base/css'`

[2017-02-13 03:21] teochengyong opened #87 "postcss --watch generating empty files"
# Bug Information
- **Post-CSS CLI version**: 2.6.0
- **Node version**: 6.9.1
- **Npm version** : 3.10.8

**Description:**
Postcss watch is run using npm run watch as follow:

  "scripts": {
    "build-css": "postcss --config postcss.json",
    "watch": "npm run build-css -- --watch",
  },

css files are generated when npm run watch runs the first time, however some times empty css files are gener

[2017-02-14 04:31] michael-ciniawsky commented on #83
@RyanZim Nope, good to go imho, I fix the UI bug from above (just a `'\n'` 😛 ) and add it to #86, then it's :shipit: time 💪 🙃

[2017-02-14 07:59] shirleyMHao commented on #30
@vbalcom , I change the context to "base/css", but postcss-cli just do not print any error，and can't finish. I   don't know what is wrong.

[2017-02-14 18:33] vbalcom commented on #30
@shirleyMHao You'll need to be on the correct fork where this feature is implemented: (https://github.com/postcss/postcss-cli/pull/31)

It looks like they'll be supporting context in the next version of postcss-cli as well.

[2017-02-14 19:00] michael-ciniawsky commented on #87
@teochengyong Why are working on `v3` atm (on the finish line) and won't fix anything related to `v2`, since `v3` is a complete overhaul. You could do the following for now

[code]

[code]

Then see the [Migration Guide](https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2----v3) for upgrading `postcss.config.json` to 'new' standard format (`postcss.config.js`) used in nearly all PostCSS

[2017-02-14 19:13] michael-ciniawsky commented on #30
@vbalcom @zyy7259  👋  Just to clearify, you're 'usecase' is e.g

[code]

[code]

This should preserve the directory structure `css/**/*.css // => **: ['nav' , 'header']` from the input  in the dist right? Or did I missunderstand something 🙃 ?

[2017-02-14 22:01] teochengyong commented on #87
@michael-ciniawsky thanks for letting me know, i will try to see if this happens in the V3 version.

[2017-02-17 13:58] RyanZim commented on #85
Sorry so long.

`develop` branch is correctly tagged, ready to publish to npm.

@ai can you add me on npm? My npm username is [`@ryanzim`](https://www.npmjs.com/~ryanzim)

[2017-02-17 14:01] ai commented on #85
@RyanZim done

[2017-02-17 14:11] RyanZim commented on #85
v3.0.0-beta is shipped: https://github.com/postcss/postcss-cli/releases/tag/v3.0.0-beta. Please report any bugs in the docs, code, or release notes. Note that the v3 code is still in the `develop` branch.

[2017-02-17 14:11] #85 closed

[2017-02-17 14:12] RyanZim commented on #83
postcss-cli v3.0.0-beta is shipped: https://github.com/postcss/postcss-cli/releases/tag/v3.0.0-beta. Please report any bugs in the docs, code, or release notes. Note that the v3 code is still in the develop branch.

---

@michael-ciniawsky Feel free to contribute UI changes before v3.0.0.

[2017-02-17 14:12] #83 closed

[2017-02-17 14:13] RyanZim commented on #87
v3.0.0-beta just shipped!

[2017-02-17 15:58] wincent opened #89 "Behavior change in --use option in beta"
In [moving from 2.6.0 to 3.0.0-beta](https://github.com/graphql/graphiql/pull/335) we found that this old invocation:

[code]

Was bombing out with:

[code]

Evidently, the first file argument "css/app.css" was being interpreted as an argument to `--use` and postcss-cli was trying to load it as a plug-in module.

[Worked around by switching argument order](https://github.com/graphql/graphiql/pull/

[2017-02-17 16:24] RyanZim commented on #89
@wincent This was an intentional change. In v2, if you wanted to set multiple plugins, you had to do:

    postcss <input file> --use postcss-cssnext --use autoprefixer

In v3, you can do:

    postcss <input file> --use postcss-cssnext autoprefixer

This should be documented in the release notes and migration guide, though. Thanks for bringing this to my attention.

---

FWIW, you can also do:

[2017-02-18 13:53] RyanZim commented on #89
Docs are fixed.

[2017-02-18 13:53] #89 closed

[2017-02-19 21:23] herkulano opened #90 "config file no longer works in v3.0.0-beta"
I have the following command in `package.json`:
[code]

in `.postcss.json`:
[code]

It works well in v2 but upgrading to v3-beta throws:
[code]

[2017-02-19 22:48] michael-ciniawsky commented on #90
[Migration Guide](https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2-to-v3)

[2017-02-19 23:04] #90 closed

[2017-02-20 12:48] RyanZim commented on #90
Also, v3 docs are here: https://github.com/postcss/postcss-cli/tree/develop

[2017-02-20 14:18] RyanZim opened #91 "Support postcss-js parser"
This requires special-casing to use `require` (or similar) for file loading, instead of the normal fs.

See https://github.com/postcss/postcss-js/issues/23 for details.

This will not be implemented before v3.0.0.

[2017-02-21 04:17] dvf opened #92 "Config file doesn't seem to work as expected"
Not sure what I'm doing wrong, I'm following the example in the README, PostCSS doesn't seem to respect the `input` key in the config file when running `npm run postcss`. However, it works if I hard-code the actual input file in the script definition in `package.json`.

Also, when I do `npm run postcss`, the command doesn't watch the file. It just exits.

**postcss.config.json**
[code]

**package.

[2017-02-21 04:31] michael-ciniawsky commented on #92
[Migration Guide](https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2-to-v3)

[2017-02-21 04:33] dvf commented on #92
Thanks @michael-ciniawsky, should update Readme.

[2017-02-21 04:34] michael-ciniawsky commented on #92
@dvf It's on the develop branch atm, bc v3 is still in beta

[2017-02-21 05:15] dvf commented on #92
Sorry @michael-ciniawsky but is there a clear example that shows how to set up `postcss-cli` with a config file freshly from scratch? The docs aren't clear for someone doing this for the first time.

The migration guide points you to https://github.com/michael-ciniawsky/postcss-load-config which tells you to add the same options in `package.json` and `.postcssrc` (or `postcss.config.js`).

[2017-02-21 05:23] michael-ciniawsky commented on #92
Alright :)  what plugins do like to use ? You can either use on of those 3 options, while `postcss.config.js` is recommended one amongst them.

[code]

[code]

[2017-02-21 07:53] leader22 opened #93 "`from` field in `postcss.config.js` does not work in v3?"
Define `postcss.config.js` like below

[code]

and running

[code]

ends up with error. `Error: Did not receive any stdin`

Currently, v3 not seems to treat `from` field as `input`.
Is this a bug? or my misunderstanding?

I know `postcss-cli@3` docs says `⚠️ If no input files are passed, it reads from stdin.`
But with `postcss-cli@2`, I could achieve this with `input` field in `postcssrc.json`.

W

[2017-02-21 08:09] michael-ciniawsky commented on #93
Well that maybe needs (re)discussion, but we followed the path to **not** support `options.from` `options.to` via `postcss.config.js`, bc the common config (`postcss.config.js`) should work with all PostCSS Middlewares (CLI, Gulp, Grunt, webpack) seamlessly. Current fix is

[code]

You don't need to set the `-c|--config` when config is in root `./` or the same directory* as the file :). You could

[2017-02-21 08:46] leader22 commented on #93
@michael-ciniawsky

oh.., I see, thanks.

My current work around is just

[code]

cause, `to` filed seems working as `output` now.
Will not it be supported in near future?

[2017-02-21 09:08] michael-ciniawsky commented on #93
It will be difficult to implement, bc the config is loaded after the input :) I will try, but ask @RyanZim, since he's the official maintainer of postcss-cli 😛

[2017-02-21 13:34] RyanZim commented on #92
@michael-ciniawsky Yeah, default branch should be changed, but I don't have permissions to do so. @ai can you change the default branch to `develop`? (We will change it back when v3.0.0 is released)

[2017-02-21 13:37] RyanZim commented on #93
Yep, don't see the point of allowing setting the input with `from`. I just need to add this to the release notes/migration guide.

Currently, setting `to` does set the output file. @michael-ciniawsky Do you think this is desirable, or should we disable this behavior?

[2017-02-21 13:51] RyanZim commented on #92
Default branch fixed.

[2017-02-21 20:59] michael-ciniawsky commented on #93
@RyanZim It's bc of `Object.assign` in the `css`  function, I'm not in favour of it tbh, since we agreed upon leaving I/O to the CLI enterily. But it doesn't hurt anyone atm, also we definitely need an Error thrown for `options.from/options.to` let me think about it 😛

[2017-02-21 21:00] michael-ciniawsky commented on #92
@dvf Does it work now? What's the status?

[2017-02-21 21:01] RyanZim commented on #93
Sure, give it some thought. Also, would you be disallowing setting `options.to`/`.from` for all users of postcss-load-config?

[2017-02-21 21:20] dvf commented on #92
@michael-ciniawsky thanks for your help! I got it working. Much appreciated.

[2017-02-21 21:20] #92 closed

[2017-02-21 21:24] michael-ciniawsky commented on #93
@RyanZim I'm not sure about that, bc the pure Node API should have access to all PostCSS Options, but I admit that it can be confusing with common PostCSS middlwares and needs consideration.

[2017-02-24 01:17] RyanZim commented on #87
@teochengyong Is this still an issue for you with v3.0.0-beta?

[2017-02-24 23:14] RyanZim commented on #93
@michael-ciniawsky Have you had time to think about this more?

Personally, I'm in favor of erroring when `options.from` is set in the config. Setting `options.to` does have a (small) use-case for when you're writing to stdout.

[2017-02-24 23:52] michael-ciniawsky commented on #93
@RyanZim Yep, i'm also in favour to disable it (`options.to`), setup should be consistent and the most straightforward way to handle various I/O operations is via CLI arguments. I add a note to the docs in addition with a few smaller fixes but let's land #94 beforehand

[2017-02-24 23:55] RyanZim commented on #93
#94 merged, go ahead with what you want to do.

[2017-02-25 19:01] alexpi commented on #87
I may have a related issue. If I watch for multiple files, like:
`postcss src/css/*.css -d assets/ -w`, the files are compiled at first, but when I change something in the css, I get a "Error: ENOENT: no such file or directory" error. When I specify a certain input file to watch, it works as expected. I am on 3.0.0-beta.

[2017-02-25 19:59] RyanZim commented on #87
@alexpi That looks like a separate issue; please open a new issue for that. Thanks!

[2017-02-25 20:43] alexpi opened #95 "Error when watching multiple input files"
My issue is that when I watch multiple input files, the files are compiled at first, but when I change something in the css, I get a "Error: ENOENT: no such file or directory" error. When I specify a certain input file to watch, it works as expected. I am on 3.0.0-beta.

My css related setup is like that:

package.json:
[code]

postcss.config.js:
[code]

[2017-02-25 21:07] RyanZim commented on #95
I am unable to reproduce this issue. Please make a reduced-test-case-repo, upload it to GitHub, and post the link here so we can investigate further. Thanks!

[2017-02-26 10:30] alexpi commented on #95
Ok, here it is: https://github.com/alexpi/postcss-cli-test
Something I didn't mention, is that I am on Windows 10, and this could raise problems with file paths. For example, the onchange package I am also using, required that file globs must be escaped like that `\"src/css/*.css\"` on Windows. I tried the same thing with postcss-cli, but I am getting the same error.

[2017-02-27 10:09] shirleyMHao opened #96 "error when i set Context"
my postcss.config.js is:
[code]
when I run `postcss src/*.css src/**/*.css -c postcss.config.js`
I got an error `Must use --dir or --replace with multiple input files`

[2017-02-27 10:58] michael-ciniawsky commented on #96
@shirleyMHao Your config is not compatible with postcss-cli >= `v3.0.0`, the config format changed in favour of `postcss.config.js` common format, useable across all PostCSS Build Tools (CLI, Gulp, webpack), see the [Migartion Guide](https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2-to-v3) for more Information.

**CLI/npm**
[code]

**postcss.config.js**
[code]

[2017-02-27 11:25] shirleyMHao commented on #96
can i use the ctx to mapping outfolder to inputfolder?

[2017-02-27 11:36] michael-ciniawsky commented on #96
@shirleyMHao Nope sry, File I/O must be specified via CLI arguments, because there is no convenient way to support the different I/O options in the config and across build tools.

[2017-02-27 14:00] RyanZim commented on #96
Closing as per @michael-ciniawsky

[2017-02-27 14:00] #96 closed

[2017-02-27 14:18] RyanZim commented on #95
Confirmed. I had to quote the globs to reproduce on linux. The issue is our handling of globs in the watcher logic. I have a rough patch, I just need to make sure the change doesn't break anything else.

[2017-02-27 14:51] RyanZim commented on #95
PR done: https://github.com/postcss/postcss-cli/pull/97.

[2017-02-27 15:13] jonathantneal opened #98 "suppress CLI output on success"
It would be nice to provide an option to surpress cli output on success.

Like `--silent`

Related: there is presently no option to disable the red logo.

[2017-02-27 15:14] RyanZim commented on #98
As mentioned in gitter, I'm not opposed to this. However, the v3.0.0 release is feature frozen. Definitely would like to see this for v3.1.0, though.

[2017-02-27 15:19] bkolodziej opened #99 "Allow to disable printing logo"
There should be an option to disable printing of logo... or simpler: just get rid of this ASCII-art. It clutters the output of build script too much. Especially if you (like me) have more than one CSS file to output.

Adding `2> /dev/null` does not help as it hides useful communicates as well.

[2017-02-27 15:23] RyanZim commented on #99
Possible duplicate of https://github.com/postcss/postcss-cli/issues/98.

[2017-02-27 18:38] michael-ciniawsky commented on #98
@RyanZim Instead of an extra option maybe better disable it enterily and show it only for `--help|-h` && `--version]-v`. Just remove the `console.warn(chalk.bold.red(${logo}))` line, could be added to #97 ? 😛

[2017-02-27 18:43] michael-ciniawsky commented on #98
Indicating success should stay imho, maybe it's possible to update the spinner per file and print it only once in watch mode, so no new lines are added on foreach success. I will take a look at it later...

[2017-02-27 18:54] #95 closed

[2017-02-27 18:55] RyanZim commented on #95
PR merged, patch will be released with v3.0.0, if not before.

[2017-02-27 19:00] #99 closed

[2017-02-27 19:00] RyanZim commented on #98
Done via a direct push to `develop`.

[2017-02-27 19:05] RyanZim commented on #98
Attn: @jonathantneal @ben-eb @ihappycoder

OK, in the next release, the logo will not print during normal usage. The `✔ Finished base.css (20ms)` messages, etc. will still be displayed.

Is that satisfactory, or do you still want a quiet flag to silence all output (except errors)? Personally, I like verbose tools, but YMMV.

[2017-02-27 20:07] ben-eb commented on #98
@RyanZim I think that's fine, in this case you are displaying helpful information to the user. 👍

[2017-03-01 13:40] RyanZim commented on #93
@michael-ciniawsky How's your PR coming along?

[2017-03-06 15:50] RyanZim commented on #93
@michael-ciniawsky ping?

[2017-03-08 05:11] chris-morgan opened #100 "Reading from stdin is a normal flow when stdin is not a tty and should not warn"
It’s perfectly normal to pipe data to postcss-cli (e.g. in a makefile); that it classifies “no files passed, reading from stdin” as a warning and prints same to the terminal is a bug. There’s no way to indicate that this is the correct and intended behaviour at present (some tools accept `-` as meaning stdin or stdout, as appropriate, but this one doesn’t).

If stdin is a tty, I can understand war

[2017-03-08 10:20] danieldunderfelt opened #101 "v2.6.0: --dir output fails with "Path must be a string""
I'm piping css into postcss-cli from node-sass using npm scripts. Normally I use the `-o` setting to put everything in a single css file, but now I needed to add a print stylesheet so I switched over to `-d`. But `-d` doesn't work. It fails immediately saying "Path must be a string".

Before:
[code]

After:
[code]

(Note: I hadn't yet gotten around to telling node-sass about the new print styleshe

[2017-03-08 12:42] RyanZim commented on #100
@chris-morgan I understand what you're saying. In a tty context, it makes sense to notify the user; but in a other situations, it's distracting.

Care to submit a PR that adds a `process.stdin.isTTY` conditional around https://github.com/postcss/postcss-cli/blob/develop/index.js#L158?

[2017-03-08 12:48] RyanZim commented on #101
You're using the `--dir` option incorrectly; it can't be used when reading from stdin. The `--dir` option is for when you want to do something like this:

    postcss src/css/*.css -u autoprefixer -d dist/css

This will output all the files in `src/css` to `dist/css`, using the same filenames (i.e. `src/css/main.css` would be output to `dist/css/main.css`). You can't use this when reading from std

[2017-03-08 12:48] #101 closed

[2017-03-08 23:42] ggascoigne opened #102 "Crash using directory wildcards and watch"
I'm running  into a crash using v3.0.0-beta.  I have a test project with this sort of layout:

[code]

My plan is to convert the *.cssnext into *.css files right next to the *.cssnext files - not ideal but it'll get what I want working in a create-react-app environment.

postcss.config.js:

[code]

When I run:

[code]

Note that the error only seems to occur when a change to one of the *.cssnext f

[2017-03-09 00:13] RyanZim commented on #102
This is a known bug. It was reported in https://github.com/postcss/postcss-cli/issues/95 and fixed in https://github.com/postcss/postcss-cli/pull/97. However, the fix has not yet been released.

I'm hoping to get v3.0.0 shipped in the next few days, which will include this bugfix. Currently, I'm waiting on @michael-ciniawsky to make one final PR to clean up what needs done for v3.0.0.

[2017-03-09 00:13] #102 closed

[2017-03-09 16:48] michael-ciniawsky commented on #102
@RyanZim `v3.0.0-beta.2` ? 🙃 Don't wait for idiots like me,  if there is a known regression and it got fixed beta +1 or patch release asap :D

[2017-03-09 17:06] RyanZim commented on #102
I've been considering making that release; what's the status of your PR?

[2017-03-09 17:18] michael-ciniawsky commented on #102
1-2 days 😛

[2017-03-10 09:57] sylvainpolletvillard opened #104 "Keep in sync CHANGELOG.md and Release notes"
https://github.com/postcss/postcss-cli/blob/develop/CHANGELOG.md is not in sync with https://github.com/postcss/postcss-cli/releases, which confused some people looking for breaking changes in v3

Maybe choose one or the another ?

[2017-03-10 12:33] RyanZim commented on #104
@sylvainpolletvillard Good point. I was debating: what's the best way to write the release notes for v3.0.0? List the changes since the latest beta, since 2.x, or both?

[2017-03-10 12:42] sylvainpolletvillard commented on #104
Both I guess ?

[2017-03-10 13:03] RyanZim commented on #104
@sylvainpolletvillard I was leaning in that direction, but wanted a second opinion. :slightly_smiling_face:

I'll try to update the CHANGELOG when I get a chance.

[2017-03-10 13:19] RyanZim commented on #104
Fixed: c33ae87d506e97484c16505ffabe7f90df55361.

[2017-03-10 13:19] #104 closed

[2017-03-13 17:16] andrejsm opened #105 "Watch task does not start over if error occurred in v3"
If I have any error during development, process exits and I have to start it over. I expect watch task to start over automatically whenever I change any of files again even if an error occurred before.

[2017-03-13 17:21] RyanZim commented on #105
@andrejsm Thanks for reporting; I didn't realize that v2 behaved this way. I will fix this as soon as I can get to it.

[2017-03-14 12:42] Ryuno-Ki opened #106 "Syntax Error in CSS Syntax Error formatting?"
Just from reading [this line](https://github.com/postcss/postcss-cli/blob/769c979f35456a7118ae0358c467803c80e2a715/index.js#L342) it feels like a syntax error.

I can imagine the missing closing square bracket is added in the line above.

I'm trying to figure out what the code shall do.
[code]
It takes the error message, cuts the first (N+1) characters out (N = `err.file.length`) and replaces the

[2017-03-14 13:58] Ryuno-Ki commented on #93
Ah, hm.

An argument for allowing `options.to` would be the possibility to send the output to `/dev/null` cross-platformly:
[code]

I can imagine that this is already solved with #98.

[2017-03-14 14:05] RyanZim commented on #93
@Ryuno-Ki Why would you want to send the output to `/dev/null`? Why are you processing the CSS if you're throwing the result away? #98 is regarding the noisy `stderr` output; not the CSS sent to `stdout`.

[2017-03-14 14:17] Ryuno-Ki commented on #98
Personally I'd like to have a way to mute [that output](https://github.com/postcss/postcss-cli/blob/v3.0.0-beta/index.js#L305) as well. Otherwise I need the ability to send STDOUT to `/dev/null` cross-platform.

I've checked that I can still see error logs.

Background: We use a custom postcss plugin which does linting and want to be able to get error reports. Outputting the CSS files just adds to

[2017-03-14 14:35] Ryuno-Ki commented on #93
See #98. Because for my use case I'm interested in STDERR, not STDOUT.

[2017-03-14 14:54] RyanZim commented on #98
@Ryuno-Ki Valid point. Could you please open a separate issue for that?

[2017-03-14 23:16] #105 closed

[2017-03-14 23:16] RyanZim commented on #105
Will be fixed in v3.0.0

[2017-03-14 23:17] RyanZim commented on #87
Closing for lack of response.

[2017-03-14 23:17] #87 closed

[2017-03-14 23:23] RyanZim opened #107 "v2 compat: --poll"
v2 had a `--poll` option, but it wasn't documented in the README. This set chokidar's poll option, for use when watching NTFS drives.

Should add this for v3.0.0.

[2017-03-14 23:43] RyanZim commented on #100
Detecting context isn't so easy; I couldn't figure it out.

@michael-ciniawsky Perhaps we should just remove this warning altogether?

[2017-03-15 00:33] #107 closed

[2017-03-15 15:05] Ryuno-Ki opened #110 "Offer a way to output only to STDOUT/STDERR"
PostCSS could be used for various tasks.

Usually you are interested in STDOUT/output into a file for further processing.
However, if you are writing a linting PostCSS plugin the main interest is STDERR.

In order to write cross-platform code it would be helpful to define a way how to handle those two streams and offer one or the other.

Default behaviour should be to write to both.

Result of #93

[2017-03-15 15:15] RyanZim commented on #110
@michael-ciniawsky @Ryuno-Ki Do you have any thoughts on the optimal API for this?

[2017-03-15 15:54] jakelauer opened #111 "Line endings are not preserved"
[test.zip](https://github.com/postcss/postcss-cli/files/845161/test.zip)

I would like my original line endings style to be preserved by postcss. I have a file using the CR+LF line ending style ("\r\n"):

![input](https://cloud.githubusercontent.com/assets/3980400/23957547/e1fc7210-095c-11e7-964b-76221a3e5c38.png)

but when it is processed by postcss, those line endings are converted to just LF ("

[2017-03-15 15:59] jakelauer commented on #111
I posted this in the main postcss repo, so maybe this one can be closed.

https://github.com/postcss/postcss/issues/992

[2017-03-15 16:07] RyanZim commented on #111
Yep, postcss issue IMO.

[2017-03-15 16:07] #111 closed

[2017-03-15 17:19] andrejsm commented on #105
Thank you

[2017-03-15 20:01] michael-ciniawsky commented on #110
@Ryuno-Ki Simply writing to both `process.stdout/process.stderr` would solve your Issue in addition with a `--silent` flag ?

Please elaborate futher on a particular usecase for this, for e.g a linting plugin could simply use the PostCSS Messages API (PostCSS writes them to STDERR) or use a `console.warn/console.error()` itself

[2017-03-15 20:11] michael-ciniawsky commented on #110
Do want to get the warnings/errors as logs just written to the stream (STDERR) for whatever reason ? 😛

[2017-03-15 22:51] #100 closed

[2017-03-15 23:19] RyanZim commented on #93
Fixed in 55466e2.

[2017-03-15 23:19] #93 closed

[2017-03-16 00:01] RyanZim commented on #98
v3.0.0 is shipped! :tada: Take it for a spin and see if you like the new output.

[2017-03-16 00:01] RyanZim commented on #104
v3.0.0 is shipped! :tada:

[2017-03-16 00:01] RyanZim commented on #102
v3.0.0 is shipped! :tada: Sorry so long.

[2017-03-16 00:02] RyanZim commented on #99
v3.0.0 is shipped! :tada: Logo is not printed during normal use in v3.0.0

[2017-03-16 00:03] RyanZim commented on #93
v3.0.0 is shipped! :tada:

[2017-03-16 00:03] RyanZim commented on #85
v3.0.0 is shipped! :tada:

[2017-03-16 11:42] Ryuno-Ki commented on #110
As I explained in https://github.com/postcss/postcss-cli/issues/93#issuecomment-286428916 I need a way to compute the target in a node module.

From an *NIX point of view, the API would look like
[code]
but that does not read JavaScript-ish.

What about stick to `module.exports.to` for _stdout_ and `module.exports.errorTo` for _stderr_?

[2017-03-16 11:43] Ryuno-Ki commented on #110
@michael-ciniawsky Where would you write the results out? Where would I need to put the code in?

[2017-03-17 09:34] michael-ciniawsky commented on #110
@Ryuno-Ki Can you link me to actual code for clearification please ? 😛 Maybe it would be better to wrap PostCSS in a Transform Stream yourself and integrate that into your library instead of the whole CLI

[code]

[code]

[code]

[2017-03-17 09:36] michael-ciniawsky commented on #110
Of course change to logic to you particular needs then :D

[2017-03-20 13:08] tegner opened #112 "Ability to use several configs in same project"
In v2.6.0 it was possible to have disting config files for separate destinations, I can't seem to find a way to do this in v3 with postcss-load-config.

Is there any way to achieve this?

[2017-03-20 13:20] RyanZim commented on #112
@tegner There are several ways to do this.

- If you just want a slightly different config for production and development, you can use `context.env` in your config file, along with the `--env` flag. https://github.com/postcss/postcss-cli#context
- If you want a different config for css sources in different folders, you can use multiple config files out of the box. For example, if you have two fold

[2017-03-20 13:49] tegner commented on #112
@RyanZim Thank you for your quick reply, it looks like the context solution solved it for me. Thank you.

[2017-03-20 13:49] #112 closed

[2017-03-20 14:46] Ryuno-Ki commented on #110
I'm currently assigned to two projects, one which shall be released soon. For the other I need those postcss functionality. Will come back with my findings this week.

[2017-03-20 14:52] RyanZim commented on #1
v3.0.0 is out, so going to say that fixes this issue. https://github.com/postcss/postcss-cli/releases/tag/v3.0.0

Please open new issues for anything that you think could be improved. Thanks for all the brainstorming here!

[2017-03-20 14:52] #1 closed

[2017-03-21 12:13] thomasklein commented on #93
Hi guys!

I would like you to reconsider the decision to remove the two valid postcss.config params `to` and `from`. A simple use case: Depending on an env variable (e.g. `NODE_ENV`) the input/output file changes. Since I use the CLI mostly as part of an npm script, I would have to get quite verbose now whereas before I could dynamically assign the input/output files.

[2017-03-21 12:27] RyanZim commented on #93
@thomasklein You have a point about allowing `to`. @michael-ciniawsky How do you feel about this?

Due to the way the config file is loaded, we cannot support `from`. I don't see that changing in the future.

[2017-03-21 13:04] thomasklein commented on #93
Please help me out to understand - from what I gathered in this thread:

From looking at the source https://github.com/postcss/postcss-cli/blob/master/index.js#L44 I understand you are parsing all arguments. So I think implementing a conditional based on the position and content of the params should make it possible to treat this

[code]
or this
[code]

Happy to hear about your feedback - and than

[2017-03-21 13:08] michael-ciniawsky commented on #93
@RyanZim I'm not particular against it, but when `options.to` works based on the config + `ENV` the source still needs to be set via CLI and that's not really clean separation. But I see the usecase @thomasklein is referring to, still the same can be basically achieved via npm scripts (which is likely to be needed anyways to set the `ctx.env`)

**package.json**
[code]

[2017-03-21 13:11] RyanZim commented on #93
@thomasklein The problem with `from` is, we don't know where to look for the config file. (Note that the new `-c` option is different from the v2 option.) We look up `postcss.config.js` starting at the input css file. If the input css file location is in the config, we don't know where to look for the config.

[2017-03-21 14:06] thomasklein commented on #93
Thanks for you feedback.

Yes, with your current code structure that is the case. https://github.com/postcss/postcss-cli/blob/master/index.js#L183

However, let me propose the following flow in which you would first check if the `--config/-c` param is present and in this case load the contents into, e.g., a var `configFile`. Then

[code]

[2017-03-21 14:25] RyanZim commented on #93
@thomasklein We have an X/Y problem. The config gets the input file in the context: https://github.com/postcss/postcss-cli#context. So we need to have the CSS file before we can get the config.

[2017-03-21 15:04] thomasklein commented on #93
Ah ok, slowly diving into it :). So it's basically because https://github.com/michael-ciniawsky/postcss-load-config is used to load the config and it allows to export the config also as a function with a context argument. My last question would be: is such a configuration than still compatible with postcss itself or would I then be bound to postcss-cli?

[2017-03-21 15:13] RyanZim commented on #93
Not sure what you're asking; postcss-load-config is a userland module that the postcss core devs really like, so core is pushing for runners to use it.

[2017-03-21 15:18] michael-ciniawsky commented on #93
`postcss-loader` (webpack), `gulp-postcss` (Gulp), `postcss-cli` (CLI), `vue-loader` (Vue), 'styled-jsx` (Zeit/Next.js), `Laravel Mix` (Laravel [PHP]) all support this common config format, that's the point about it :stuck_out_tongue:

[2017-03-21 15:31] thomasklein commented on #93
Thanks for the clarification and insights!

[2017-03-28 10:31] sarukuku opened #114 "browsers entry in package.json isn't respected"
Please see https://github.com/postcss/autoprefixer/issues/786. It appears to be an issue with the `postcss-cli` version `3.0.0`.

Andrey Sitnik thinks it might be an issue related to `postcss-cli` not sending the current file path to plugins.

[2017-03-28 12:27] RyanZim commented on #114
@sarukuku Are you positive you're using postcss-cli v3.0.0 and not v3.0.0-beta? (run `npm update` to be sure). There was a bug in v3.0.0-beta that could cause behavior like this.

[2017-03-28 15:09] RyanZim commented on #114
Issue here might be due to use passing a relative path for `from`.

[2017-03-28 15:28] sarukuku commented on #114
I'm fairly sure. I don't have the CLI installed globally and in the folder I rand the command I installed always an exact version of the CLI.

[2017-03-28 16:08] RyanZim commented on #114
Try the latest `master`:
[code]
See if that fixes your issue.

[2017-03-28 16:59] sarukuku commented on #114
With a quick test in the project I found this issue in I'd say that doesn't help. I think I need to do a minimal test repo so that we can all test it. Will link it here soon.

[2017-03-29 05:44] sarukuku commented on #114
Ok, [here's](https://github.com/sarukuku/postcss-cli-test) the repo. Now the setup should be minimal enough to reason about the root cause of this.

What I can tell now based on this is that when I pipe css in to postcss it doesn't work. If I don't pipe it in but let postcss read the file on its own it works. In the example it might a look a bit weird that I do `cat css/test.css` and then pipe it.

[2017-03-29 09:19] michael-ciniawsky commented on #114
@sarukuku I this case it isn't possible to solve your isssue on the CLI level, PostCSS can only reason about the file location (path), when passed via options (metadata) explicilty. Since the CLI has no way to provide this information when recieving the CSS as `{String}` via STDIN (`process.stdin`), this needs to be solved in autoprefixer or to be more precise in [browserslist](https://github.com/

[2017-03-29 09:49] ai commented on #114
Maybe we should pass `from = process.cwd() + '/stdin.css'` in case of `stdin` input in `postcss-cli`?

Having `from = process.cwd()` in Browserslist could not be clear for user and will increase bad Browserslist usage when developers forget to pass `from`.

[2017-03-29 09:55] michael-ciniawsky commented on #114
@ai `~.process(css, { from: file })` accepts a directory or must the path contain a base?

[2017-03-29 10:01] ai commented on #114
@michael-ciniawsky It should be a file (I think directory will work too, but it could falls in some edge cases)

[2017-03-29 13:17] RyanZim commented on #114
@ai Won't passing `from = process.cwd() + '/stdin.css'` mess up source maps?

[2017-03-29 13:18] RyanZim commented on #110
@Ryuno-Ki Just thought of something: If you're just running a linter that doesn't change the CSS, why don't you just use `--replace`?

[2017-03-29 13:21] ai commented on #114
@RyanZim interesting question. Right now we have `<CSS input 1>` and it is not really better than fake path `process.cwd() + '/stdin.css'`. Anyway we don’t have correct path in source map (`<CSS input 1>` is not really correct value for source maps, only path are accepted). So `process.cwd() + '/stdin.css'` will be still fine for source maps in my opinion.

[2017-03-29 13:28] RyanZim commented on #114
OK, PR welcome. If this causes problems, I'll revert this change though.

[2017-03-29 13:40] sarukuku commented on #114
One thing I don't understand though it that why this works with the `postcss-cli` version `2.6.0`? If in the example repo I provided I downgrade `postcss-cli` from version `3.0.0` to version `2.6.0` both of the npm scripts (`works` / `doesntwork`) produce correct results. With version `3.0.0` only the `doesntwork` script produces wrong results.

[2017-03-29 13:54] RyanZim commented on #114
Hard telling; v3.0.0 was a total rewrite.

[2017-03-29 19:14] Ryuno-Ki commented on #110
Haven't found time yet, since priorities were shifted :-/

[2017-03-29 19:53] piotr-cz commented on #112
Can I have somehow multiple configs in one folder or the file name `postcss.config.js` is harcoded?

for example
[code]

[2017-03-29 20:10] RyanZim commented on #112
@piotr-cz It's hardcoded.

[2017-03-29 20:48] piotr-cz commented on #112
That's quite uncommon; actually I see something liket that for the first time

[2017-03-29 23:46] michael-ciniawsky commented on #114
@sarukuku Did you set `from` in the old config format ?

[2017-03-30 06:59] sarukuku commented on #114
@michael-ciniawsky nope, in my last test the only thing I changed in the example repo was the version of `postcss-cli`. So to me it looks piping worked in version `2.6.0` but doesn't work anymore in `3.0.0`.

[2017-03-31 16:04] Ryuno-Ki commented on #110
Looking at https://github.com/postcss/postcss-cli/issues/110#issuecomment-287308088 now, I can only see how to deal with STDOUT (`.pipe(process.stdout)`). Is there a way to access errors?

I'm comfortable with grunt, but less with gulp …
However, it looks like [piping is a NodeJS feature](https://nodejs.org/api/stream.html#stream_readable_pipe_destination_options).

Is there an `error` event I can

[2017-03-31 16:26] michael-ciniawsky commented on #110
@Ryuno-Ki Yep the Node has a Unix Stream Implementation on it's own.

In the example above the callback in `then((result) => cb(null, result.css))` is a so called error first with the parameter signature `cb(err, data)`, accepting an Error as first argument.

[code]

[code]

Other ways are possible,you could even emit your own Error Event when implementing it in your stream implementation :)

[2017-03-31 19:21] Ryuno-Ki commented on #110
I'll give it a spin next week. Enjoy your weekend!

[2017-04-01 18:02] #114 closed

[2017-04-03 17:07] X-Tender opened #116 "External map files"
How can I tell postcss-cli (Version 3) to generate external map files?

[2017-04-03 17:12] X-Tender commented on #116
Oh snap. I just have to pass `--map false`. :D

[2017-04-03 17:12] #116 closed

[2017-04-03 17:19] RyanZim commented on #116
@X-Tender All you need is `--map`.

Default is inline sourcemaps, `--map` generates external sourcemaps, and `--no-map` disables them altogether.

[2017-04-04 14:53] benurb opened #117 "lib folder is missing in npm package"
Hello,

thanks for your really handy tool. Unfortunately it seems to be broken in version 3.1.0 on npm. The npm package is missing the entire lib folder, which obviously leads to a `Error: Cannot find module './lib/depGraph'`.

Test: `curl https://registry.npmjs.org/postcss-cli/-/postcss-cli-3.1.0.tgz | tar -x`. In the `package` folder there is no subfolder `lib`.

Best regards,
Ben

[2017-04-04 14:54] RyanZim commented on #117
Oops, I forgot we had a `files` property in the package.json. https://github.com/postcss/postcss-cli/blob/master/package.json#L41

Will fix that and publish v3.1.1 ASAP.

[2017-04-04 14:59] RyanZim commented on #117
Done https://github.com/postcss/postcss-cli/releases/tag/v3.1.1

[2017-04-04 14:59] #117 closed

[2017-04-05 21:09] jonsuh opened #118 "-c/--config does respect targeted config file"
I’d like to be able to selectively choose the correct config file; however, passing the `--config` flag does not seem to respect the targeted file.

I have two files:
[code]

Running the following:
[code]

`config.postcss.json` looks like the following:
[code]

While `config.postcss.dist.json` looks like the following:
[code]

I’d consider using `context.env` based on your suggestion in https://gi

[2017-04-05 21:17] jonsuh commented on #118
As a follow-up, I have also tried the config files as JS files and the `--config/-c` flag still fails to respect the targeted config files.

[code]

[code]

[code]

[2017-04-05 21:30] jonsuh commented on #118
So followed the conversation in https://github.com/postcss/postcss-cli/issues/55, I concluded that the only way to pass in a custom config is to have `postcss.config.js` in a separate directory and pass the directory name via `--config`
[code]
[code]

Is there a particular reason you can’t target a specific file and one is only required to use the `postcss.config.js` filename?

[2017-04-05 22:29] RyanZim commented on #118
Simply put, we use https://github.com/davidtheclark/cosmiconfig, which is set up to hard-code the filename.

[2017-04-06 11:59] jonsuh commented on #118
@ryanzim Ah, understood. Could an argument be made to allow some level of control over the filename? e.g. Two config files in a directory.

For standardization I understand some level of filename requirements (e.g. `.config.js`, `.rc`) but also allowing some slight variations to the filename From user input.

Looks like it’s `postcss-load-config` that hard sets the config filename https://github.c

[2017-04-06 16:07] michael-ciniawsky commented on #118
@jonsuh As @RyanZim stated out, the hardcoded name is set by cosmiconfig, but since `postcss.config.js` should function as a 'common' config with the goal to work across all builds tools (webpack, Gulp, Grunt, CLI), this behaviour is even benefical to that. Allowing to override the config name will cause confusion and bugs imho. What you what to achieve is taking care of by `context` already, wher

[2017-04-06 17:42] jonsuh commented on #118
Understood. Thanks for the explanation and examples. I’ll either choose to do the `context` route or find an alternate solution. Thank you.

[2017-04-06 17:42] #118 closed

[2017-04-07 16:52] Ryuno-Ki commented on #110
I did some homework!

Okay, so our PostCSS plugin look similar to [this one](https://github.com/hail2u/node-css-mqpacker/blob/ef253da7d968abb27a04f389246e01b6f12e833e/lib/css-mqpacker.js#L146). Imagine it had a `css.warn` inside of `css.eachAtRule`, like [documented in PostCSS documentation](http://api.postcss.org/postcss.html#.plugin). Our plugin uses [walkRules](http://api.postcss.org/Rule.html#

[2017-04-07 17:08] RyanZim commented on #110
@Ryuno-Ki Why don't you just use postcss-cli with the `--replace` flag?

[2017-04-07 17:45] michael-ciniawsky commented on #110
@Ryuno-Ki Readable Stream? You need a Transfrom Stream and add your plugin to `_transform` 😛

[2017-04-09 02:12] bfred-it commented on #30
@michael-ciniawsky the double-star globbing is not recursive in bash 3.2 (on my OS X 10.11) and even then postcss doesn't seem to keep the relative folder structure. So this is the output of your command:

[code]

It'd be great if `postcss-cli` would support `input` to be a folder like `babel-cli` does:

[code]

[2017-04-09 22:10] discodanser opened #119 "Have an error "Input Error: Did not receive any STDIN" when using code a-la "cat input.css | postcss [OPTIONS] > output.css""
In simple example it work as sample from readme
`"cat style.css | postcss -u cssnano > output.css"`
and also as
`"cat style.css | postcss -u cssnano -o output.css`

With more complex string
`"postcss -u autoprefixer < style.css | postcss -u cssnano > style.css"`
catch error "Input Error: Did not receive any STDIN".

But `"postcss -u autoprefixer < style.css | postcss -u cssnano -o style.css"` stil

[2017-04-09 23:21] michael-ciniawsky commented on #119
[code]

Why not `postcss -u autprefixer -u cssnano -o style.css` ? 😛

You are not writing to STOUT and pipe the result from the first run to the next

[2017-04-10 12:06] RyanZim commented on #119
@michael-ciniawsky Even shorter:

    cat style.css | postcss -u autoprefixer cssnano -o style.css

[2017-04-10 12:08] RyanZim commented on #119
@discodanser If you're trying to edit your file in place, just use the `--replace` (`-r`) option:

    postcss style.css -u autoprefixer cssnano -r

[2017-04-10 12:22] RyanZim commented on #30
@bfred-it postcss-cli processes globs itself, to get double-star globbing working, you have to quote your glob. Anyhow, it won't keep relative folder structure anyhow.

I sorta like the idea of an input folder; @michael-ciniawsky thoughts on this? @bfred-it Would you be willing to do a PR for this?

[2017-04-10 12:46] discodanser commented on #119
**michael-ciniawsky**, **RyanZim**

Thnx, that is much better. :)
Before that I used separately
[code]
But it was not cool of course.

Question appeared when I found [answer from SO](http://stackoverflow.com/questions/35197836/npm-with-node-sass-and-autoprefixer). And wonder why it does not work for me.

[2017-04-10 12:51] RyanZim commented on #119
@discodanser That SO thread was written before postcss-cli v3 was released.

Going to close this out since it seems this is a usage issue.

[2017-04-10 12:51] #119 closed

[2017-04-11 17:56] corysimmons opened #120 "throw new TypeError('Path must be a string. Received ' + inspect(path));"
[code]

The src and dist files have already been touched.

`yarn run postcss` throws the error in title.

Any ideas?

[2017-04-11 18:07] corysimmons commented on #120
Nevermind, I'm an idiot. Babel or some other CLI was causing the problem.

[2017-04-11 18:07] #120 closed

[2017-04-15 04:03] amaurycatelan commented on #90
ohh.. I found exactly what I was looking for! (migrating from v2 to v3)
Thank you! 😃  👍

[2017-04-19 13:47] #30 closed

[2017-04-19 16:59] swese44 commented on #30
we also need this feature, glad to see the PR merged. when can we expect this to be published? thanks!

[2017-04-19 17:28] RyanZim commented on #30
@swese44 As soon as I get a chance. Hopefully this evening.

[2017-04-19 17:35] swese44 commented on #30
cool thanks @RyanZim!

[2017-04-21 16:22] ben-eb commented on #24
That's possible with https://github.com/shinnn/is-resolvable.

[2017-04-21 16:35] RyanZim commented on #24
@ben-eb Thanks for pointing that out.

Implementing this for `--use` wouldn't be too hard, but allowing that syntax in the `postcss.config.js` would require changes to https://github.com/michael-ciniawsky/postcss-load-config. Not sure if I want to support this.

[2017-04-21 22:12] RyanZim commented on #30
@swese44 Finally got it published as v3.2.0 tonight.

[2017-04-21 22:58] swese44 commented on #30
thanks all! works perfectly

[2017-04-23 13:55] ben-eb opened #122 "Don't set the "from" option when reading from stdin."
The `from` option indicates the path of the file being read from; in the case of stdin, it's a special case that I think we have to handle differently.

With the current behaviour, because I am using cosmiconfig to find configuration presets, an error is thrown because https://github.com/postcss/postcss-cli/blob/master/index.js#L287 (`/path/to/project/stdin`) is not a valid file. I suggest that we

[2017-04-23 14:17] michael-ciniawsky commented on #122
if I remember right, the dummy `path/to/stdin.css` path was added, bc of browserlist (autoprefixer) otherwise fails to lookup the config (`!options.from`) and wouldn't work with `process.stdin` then.

[2017-04-23 15:31] ben-eb commented on #122
OK. Then why not:

[code]

[2017-04-23 16:24] michael-ciniawsky commented on #122
I asked the same 😛  =>  #114

Seems `options.from`  expects a 'full path' `[dirname]/[basename]/[extname]` but I didn't check it tbh :D

[2017-04-24 11:30] ben-eb commented on #122
So as I see it, my options are:

1. Recommend people to not use postcss-cli with stdin - bad, as it confuses users.
2. Carry on recommending people to use cssnano-cli instead - bad, fragmentation & more maintenance.
3. Write a dirty hack in cssnano to accommodate this use case - bad, it handles only my use case & not future use cases.

I don't want to do any of these and would prefer the removal o

[2017-04-24 12:04] RyanZim commented on #122
See https://github.com/postcss/postcss-cli/pull/115#issue-218710401

It seems it does. @ai Thoughts here?

[2017-04-24 12:23] michael-ciniawsky commented on #122
[Solution Prototype](https://github.com/postcss/postcss-cli/issues/114#issuecomment-290032573)

In General 👍, it's a 'bug' in browerslist 😛

Disagreeing here 😛 A 'classical/traditional'  CLI has to support `STDIN/STDOUT` and Unix Pipes, it may be not the most used, but that's where PostCSS support for this is/should be located.

Is it 'confirmed' that `cosmiconfig` is the source of the bug ? Why n

[2017-04-24 13:29] ben-eb commented on #122
I am using cosmiconfig to find a config file relative to the input, the problem is that it performs a stat call on the file path (`/path/to/project/stdin`) and errors out because the file does not exist. So this error is coming from cosmiconfig:

[code]

I can resolve this by removing the cosmiconfig call, so I figure it's the source of the error.

Ideally I want to deprecate cssnano wrappers so t

[2017-04-24 13:29] ai commented on #122
Maybe we need to fix cosmiconfig to not throw on unknown file?

[2017-04-24 13:31] ben-eb commented on #122
I guess cosmiconfig needs to stat the file path to check if it's a directory or not. https://github.com/davidtheclark/cosmiconfig/blob/de81cf6f4bd8f18f4c36255b8a9f13733e3cc7f7/lib/createExplorer.js#L100

[2017-04-24 13:40] michael-ciniawsky commented on #122
? 🙃  Use a `process.cwd()` fallback in your `cssnanorc` implementation, the same would be good for browserslist aswell, both introduce possible side effects (impure) for other tools/runners/implemtations atm

Yep, but by design joice then 😛  and why ? Will it be incompatible to `postcss.config.js` in general ?

**postcss.config.js**
[code]

[2017-04-24 13:50] ben-eb commented on #122
Like I said, it's a dirty hack. I should expect that the file coming from `from` is an actual file, I shouldn't have to analyse the path for a mention of `stdin` and replace it with `process.cwd()`. What about the fact that postcss-cli introduces this side effect in the first place?

No, you can pass the preset directly as an option to cssnano, so it's not incompatible. 😄

[2017-04-24 13:54] ben-eb commented on #122
By the way it would probably be better to use a file abstraction rather than making up paths on disk, such as https://github.com/vfile/vfile or https://github.com/gulpjs/vinyl.

[2017-04-24 14:10] michael-ciniawsky commented on #122
The responsibility to handle this impure behaviour was basically shifted form `browserslist` => `postcss-cli`, which I was skeptical about from the beginning and therefore `postcss-cli` has inherited the possible side effects (impurity) now. Your is **q.e.d** for my assumption 😛

[2017-04-24 14:19] michael-ciniawsky commented on #122
No extra deps 💪 😛  to handle architectural issues, if solvable otherwise

I suggested to use `yargs`, `glob-stream`, `glob-watcher`, `vinyl` + a PostCSS transform stream (basically a cleanupped `gulp-postcss`) to have a cleaner interface between  File I/O and `process.stdin/process.stdout` but it was rejected 😛

[2017-04-24 14:30] ben-eb commented on #122
¯\_(ツ)_/¯

[2017-04-26 10:22] ben-eb commented on #122
For me this is resolved with the latest cosmiconfig, so I don't think we need a resolution here for now. 😄

[2017-04-26 10:22] #122 closed

[2017-04-27 14:09] Ryuno-Ki commented on #110
I'm currently assigned to another team and won't be able to investigate further before June 2017.

[2017-04-29 01:01] RyanZim opened #123 "Tests are failing"
[code]

Attn: @michael-ciniawsky

I suspect this has something to do with the latest patch version of cosmiconfig, will investigate later if no one else beats me to it.

[2017-04-29 01:48] michael-ciniawsky commented on #123
This error  `/ENOENT: no such file or directory/` was removed with the latest cosmiconfig update

https://github.com/davidtheclark/cosmiconfig/issues/63
https://github.com/davidtheclark/cosmiconfig/pull/64

[2017-04-29 12:01] RyanZim commented on #123
OK, thanks for doing the lookup!

It seems that we should still error out somehow if the config fails to load.

[2017-04-29 16:57] michael-ciniawsky commented on #123
Yep, but I don't now how yet tbh 😛 Now they shifted the responsibility for all their crap on us again, suckers.... 😛 I also need to add something like [`resolve-from`](https://www.npmjs.com/package/resolve-from) to `postcss-load-config`, because currently, if the CLI is installed globally it fails atm, (it doesn't `require()` the plugins from `process.cwd()`) I fix it soon when time :)

[2017-04-29 23:08] RyanZim commented on #123
Ugh; that's why it's good to use devDependencies + npm scripts

[2017-04-29 23:22] michael-ciniawsky commented on #123
Yep I also prefer it that way, but the fix is easy and it's nothing urgent 😛

[2017-04-30 15:37] nwmcsween opened #124 "Cannot get cssnano to work with .postcssrc.js or postcss.config.js"
Below is my .postcssrc.js, specifically it seems the test(ctx.file.basename) isn't working for some reason?

[code]

[2017-05-01 11:13] RyanZim commented on #124
`.postcssrc` only works with json or yaml; rename your file to `postcss.config.js` and it should work fine.

[2017-05-05 04:18] nwmcsween commented on #124
It still seems to not work when renaming postcssrc.js to postcss.config.js

[2017-05-05 09:57] cxcorp commented on #34
Issue is still present in postcss-cli 3.2.0 on Windows 7 x64, node v7.10.0:

[code]

[2017-05-05 12:44] RyanZim commented on #124
@nwmcsween Please make a reduced test case repo, push it to GitHub, and post the link here. Thanks!

[2017-05-05 12:45] RyanZim commented on #34
`--autoprefixer.browsers` options are not supported in v3. Also, please place your input filename first in the command.

[2017-05-05 14:27] michael-ciniawsky commented on #124
@nwmcsween Coud you try without 'no-map: true' && `'cssnano': /.+\.min\.css$/.test(ctx.file.basename) ? {} : false,` for initial debugging please, for the latter I recommend to use `ctx.env` instead => `ctx.env === 'production' ? { safe: true } : false` :stuck_out_tongue:

[2017-05-06 00:39] nwmcsween commented on #124
I figured out what the issue was, I assumed ctx.file.* was the output file (as it makes sense since the operations are on the resulting file) and did `postcss somefile.css -o somefile.min.css` in a makefile and thus postcss-cli didn't apply cssnano.

[2017-05-06 03:06] michael-ciniawsky commented on #124
What would be the usecase for this ? 😛 The config is applied **per file** _before_ it gets processed by postcss

[2017-05-06 05:19] nwmcsween commented on #124
Very simple, the old cli way of using -u plugin --plugin options (and better imo) allows applying rules to uncreated files e.g. with Make `MERGED_MIN := $(MERGED:=.css=.min.css)` at which point you could apply cssnano to the $(MERGED_MIN) as a target.

[2017-05-06 11:52] ai opened #125 "Use PostCSS 6.0"
[PostCSS 6.0](https://github.com/postcss/postcss/releases/tag/6.0.0) was released. API wasn’t changed dramatically, so you need only update dependency and release new version.

@RyanZim write me if you need any help.

[2017-05-06 12:17] RyanZim commented on #125
@ai Looks pretty easy. I assume this should be semver-major for postcss-cli.

[2017-05-09 05:29] SerkanSipahi commented on #125
@RyanZim Please deploy new version. I get erros when working with postcss-cli
[code]

[2017-05-09 05:54] michael-ciniawsky commented on #125
@SerkanSipahi Pin `postcss-nested` to `^1.x` semver range in the meantime, `2.x`works the same but with PostCSS 6 API

[2017-05-09 07:33] SerkanSipahi commented on #125
@RyanZim @michael-ciniawsky @ai please let me know if postcss-cli are ready for PostCSS 6.0, thnx.

[2017-05-09 14:53] RyanZim commented on #125
Released in v4.0.0: https://github.com/postcss/postcss-cli/releases/tag/v4.0.0 :tada:

[2017-05-09 14:53] #125 closed

[2017-05-09 15:07] SerkanSipahi commented on #125
@RyanZim thanx :1st_place_medal:

[2017-05-09 20:07] vlatkodrljin opened #126 "Combine --watch and --replace for same file causes infinite loop in console"
Following CLI command causes infinite loop:

`postcss public/css/styles.css -u autoprefixer -r -w --poll`

When I change styles.css the watch starts command again and again in console.
Without --watch option everything is working as expected.

[2017-05-09 20:20] RyanZim commented on #126
@vlatkodrljin Using `-w` and `-r` together isn't possible, since postcss-cli will pick up replacements as a file change, triggering an infinite loop.

This is an edge-case I never thought of; we should fix this to make it error out instead of getting stuck in the infinite loop.

[2017-05-09 20:38] vlatkodrljin commented on #126
I have infinite loop only when my postcss parsing is longer than 100ms.

Chokidar which this CLI uses has default pool interval of 100ms, and reason for my infinite loop is because my parsing interval is out of that 100ms.

We can add option for setting polling interval in this particular case, this would be the best solution if you ask me.

[2017-05-09 22:56] RyanZim commented on #126
@vlatkodrljin That's a hacky way around the real issue. Most users aren't using `--poll`.

[2017-05-14 22:03] cmnstmntmn opened #127 "watch mode shouldn't terminate when a plugin errors"
**app.css**

[code]

**postcss.config.js**
[code]

**run**
`postcss app.css -o output.css -w`

**return**

[code]

[2017-05-15 13:21] RyanZim commented on #127
@cmnstmntmn This is the way postcss-import works; postcss-import throws an error when a file isn't found. This behavior has received some controversy, but we've never decided if it should be changed or not.

Anyhow, closing since this is due to postcss-import, not postcss-cli.

[2017-05-15 13:34] RyanZim commented on #127
Hey there, just noticed your comment in gitter; I didn't realize you were talking about watch mode, sorry.

Yes, this is something we should look into.

[2017-05-17 05:11] mozts2005 opened #128 "CLI output on success Fails Automated Build in TFS"
when using postcss-cli as part of  TFS/VSTS build the build will fail even when the cli is successful.

Based on my testing this is because the ORA Spinner defaults to using the stderror stream.

[2017-05-17 13:50] RyanZim commented on #128
A build failing because there's stderr is weird IMO. That's what exit codes are for; checking if something succeeded. As a workaround, you can silence the stderr by running `postcss options... 2> /dev/null` (assuming you can't configure your build server).

I'd also be willing to add a `--silent` option to turn off all status updates to stderr; PR welcome.

[2017-05-18 19:03] Learn-Digital-Audio opened #130 "autoprefixer does not work or deletes majority of .css file half the time (using postcss-cli)"
apologies for posting this issue on 2 different forums, i am not sure of the etiquette or protocol in github, as i am very new to it!

this is my problem:

https://github.com/postcss/autoprefixer/issues/844

does this look like an autoprefixer issue or a postcss-cli issue?

THANKS.

[2017-05-18 19:05] RyanZim commented on #130
@Learn-Digital-Audio You can't use `watch` and `replace` at the same time, see https://github.com/postcss/postcss-cli/issues/126.

[2017-05-18 19:30] Learn-Digital-Audio commented on #130
Thanks!

[2017-05-18 19:30] #130 closed

[2017-05-23 09:21] gucong3000 opened #131 "Support for `*.vue` and HTML file."
I created a module for `postcss` to support HTML. [postcss-html](https://github.com/gucong3000/postcss-html)

If I can use `postcss-cli` in this way, that would be great:

[code]

I'd like to push an PR for this.

[2017-05-23 10:34] gucong3000 commented on #131
![image](https://cloud.githubusercontent.com/assets/1171691/26350595/5b817b84-3fe6-11e7-8b10-cbe2cdf703f5.png)

[2017-05-23 13:13] RyanZim commented on #131
@gucong3000 postcss-cli does support custom syntaxes via the `--syntax` option. However, since your syntax uses the non-standard `result.content`, postcss-cli can't work with that.

We can't be special-casing everything. If postcss-html was a postcss-sponsered project, I'd consider it; but for now, Not Interested.

[2017-05-23 13:13] #131 closed

[2017-05-23 13:15] RyanZim commented on #128
Closing for lack of action, my offer stands:

[2017-05-23 13:15] #128 closed

[2017-05-24 01:53] gucong3000 opened #132 "Expect `postcss-cli` to automatically infer the proper syntax."
When `--syntax` and `--parser` are undefined, I expect `postcss-cli` to automatically infer the proper syntax.

[2017-05-24 02:15] gucong3000 commented on #132
I expect to use `postcss-cli` this way:

[code]

[2017-05-24 05:48] michael-ciniawsky commented on #132
**postcss.config.js**
[code]

Please take a look at Parse5, PostHTML or `vue-compiler`, CSS as the entry for SFC doesn't seem to be right tbh. A SFC is basically a  `.html` (**not** `.css`) file with 3 top-level tags

**posthtml-component**
[code]

Other Preprocessors and emitting or loading files can easily be implemented aswell. PostHTML supports Pug and has it's own whitspace sensible parser (S

[2017-05-24 14:20] RyanZim commented on #132
@gucong3000 The reason this isn't supported is that we can't support every single postcss syntax; anyone can create one, and we can't support them all.

[2017-05-24 14:20] #132 closed

[2017-05-25 21:28] santanajames commented on #126
@RyanZim I agree that @vlatkodrljin method is a hack around the real issue. However, generally, if ---poll is an option then --interval is also an option - same as Chokidar which is used in this case. It is beneficial to have control over the polling interval if you are one of those users who uses it.

I have made a pull request with this addition.

[2017-05-25 23:46] RyanZim commented on #124
Closing this old discussion thread

[2017-05-25 23:46] #124 closed

[2017-05-25 23:47] RyanZim commented on #27
@nwmcsween Why not this?

    cat file1.css file2.css > postcss

[2017-05-26 04:24] vphantom commented on #27
@RyanZim Wouldn't that break source map references?

[2017-05-31 23:37] vanduynslagerp opened #135 "Cli option are ignored if a config file is passed to -c"
Configuration file `postcss.config.js`:
[code]
Configuration file `postcss_with_map.config.js`:
[code]

`postcss --config postcss.config.js test.css -d dist --map` **does not** produce a source map
`postcss --config postcss.postcss_with_map.js test.css -d dist` **does** produce a source map
`postcss -u autoprefixer test.css -d dist --map` **does** produce a source map

It seems that is a config fi

[2017-06-01 00:03] michael-ciniawsky commented on #135
[code]

⚠️  Please note that `--config` specifies the`path/to/postcss.config.js` the file name (`postcss.config.js`) is hardcoded, you won't need to set `--config` by default, since it's looked up automatically in most cases. Only if you store it in a e.g `./config || ./.config` folder the `--config` is mandatory

In terms of source maps, could you try the following?

[code]

**postcss.config.js**

[2017-06-01 00:23] vanduynslagerp commented on #135
Thanks for the quick answer !
I'm actually using a subfolder to store the configuration file, but I removed it from my example above to simplify. I realize now that my example is wrong and misleading...

Basically when I use a config file (named `postcss.config.js`) without the `map` attribute and I call the CLI with `--map` then the map is not generated.

I realize now that when I use a mix of co

[2017-06-01 00:42] #135 closed

[2017-06-01 06:21] swashcap opened #136 "CLI watch mode not watching @imports in Node.js 8.x.x"
#### Problem

The `--watch` flag doesn’t watch CSS `@import` dependencies for changes and re-process after a dependency CSS file is changed. (`@import` dependencies are regular CSS files, inlined using [postcss-import](https://github.com/postcss/postcss-import).)

#### Expected

The `--watch` flag should watch CSS `@import` files for changes, re-process on change, and output a new file. This works

[2017-06-01 06:34] swashcap commented on #136
Important discovery: this problem _only occurs when using vim to edit files_.

![watput](https://cloud.githubusercontent.com/assets/1858316/26667306/51bfabf6-4659-11e7-9cef-f3b116581602.gif)

_postcss-cli_ seems to see a swap file (created at _app/css/._alert.css.swp_) when vim opens the file. None of vim's writes appear to be observed.

Works totally fine in VS Code!

[2017-06-01 06:38] swashcap commented on #136
Here’s the same setup, in Node.js 7.10.0:

![in-node-7](https://cloud.githubusercontent.com/assets/1858316/26667451/28b1a2e0-465a-11e7-8799-6d96c48e88c4.gif)

_Confounding._

[2017-06-01 07:03] swashcap commented on #136
Looks like _[chokidar](https://github.com/paulmillr/chokidar)_, which _postcss-cli_ uses to watch files, has some failing tests on Node.js 8: paulmillr/chokidar#607

[2017-06-01 11:02] RyanZim commented on #136
@swashcap Thanks for reporting, yep, this is probably related to chokidar.

[2017-06-11 20:47] hamlim opened #137 "When installed locally, postcss doesn't write to a file"
Tested a simple case where I installed `postcss-cli` locally inside a project, and then installed it globally:

Locally installed and run via yarn:
[code]
provided the compiled output straight to the console but didn't write to a file

Globally installed (`yarn global add postcss-cli`):
[code]
compiled the src file and wrote the file correctly to the output directory.

I am just getting started us

[2017-06-12 11:50] RyanZim commented on #137
@hamlim That's strange, I'm using the a local installation with zero issues. Perhaps you can create a reduced test case?

[2017-06-12 20:45] hamlim commented on #137
Made a testing repo here: https://github.com/hamlim/postcss-failing-local-compile with steps to reproduce.

[2017-06-13 12:32] RyanZim commented on #137
@hamlim You're using the local installation incorrectly. Uninstall postcss-cli globally, then run the passing script. postcss-cli works as intended. Your problem is that your failing script unnecessarily prefixes `yarn` to the script.

[2017-06-13 12:32] #137 closed

[2017-06-13 20:07] hamlim commented on #137
That test case might not actually be accurate then because I still run into the issue, when installing postcss-cli locally via yarn the only way to run it is via `yarn postcss`.

[2017-06-16 20:38] bradennapier opened #139 "Allowing ES6 for PostCSS Config?"
Sorry if this is obvious but I am running into multiple situations where using ES6 / Babel within my postcss config would be highly beneficial.  Specifically so that I ca import and use my natural tools and language throughout the app.  For example, importing utilities that my app will also use to help organize the codebase.

Running with babel-node doesn't seem to work as it must fork a node proc

[2017-06-16 20:50] michael-ciniawsky commented on #139
I don't intend to support it, because besides of ES2015 Modules everything  ES2015 related is at your disposal with node v6+. `postcss.config.js` ([`postcss-load-config`](https://github.com/michael-ciniawsky/postcss-load-config)) gets loaded before each file is processed and config transpilation would add an unnecessary overhead. Please close the issue here, since it's unrelated and won't fix here

[2017-06-16 20:51] #139 closed

[2017-06-16 20:51] bradennapier commented on #139
Ok, patience it is then :)

[2017-06-17 07:38] michaelalhilly opened #140 "Error when piping over a certain amount of data from node-sass to postcss"
I encountered an error when piping data from node-sass to postcss that seems to be due to a limit of some sort. Here is the npm script I was running:
[code]

I had to change the process to this to get it working:

[code]
I've got about 50 SCSS modules that generate main.css, which is a little over 2,800 lines and 66KB. I'm not sure if this issue is related to number of lines, css nesting, file siz

[2017-06-17 09:30] michael-ciniawsky commented on #140
Could you try

[code]

What version of postcss-cli are you currently on ?
Any logs you could share ?

[2017-06-20 14:09] arxpoetica commented on #127
Agreed, this shouldn't error. It's really messing with my mojo. 😬 😜  For real though, I have a BUNCH of watching cli scripts for different tasks (rollup, pug/jade, sass), and this is the one that kills my main watching process (for multiple scripts) everytime it errors.

Watch should _convey_ the error, but keep on a watching.

[2017-06-20 14:17] RyanZim commented on #127
PR welcome, I just haven't gotten a chance to fix this yet.

[2017-06-20 14:58] arxpoetica commented on #127
Word.

[2017-06-21 18:31] michaelalhilly commented on #140
@michael-ciniawsky

Not sure what happened but both your suggested script and my original are now working. I'm using the latest version of postcss-cli. The original error did not output any log other than the error.

Anyway it seems the issue was on my end.

Thanks.

[2017-06-21 18:31] #140 closed

[2017-06-23 08:16] zyy7259 opened #142 "Fix glob docs"
Assumed we have a folder structure like this

[code]

`postcss src/**/*.css [OPTIONS]` only process files in /src/style, but not process files in /src/toast/style.

postcss version v4.1.0

[2017-06-23 12:51] michael-ciniawsky commented on #142
I don't know the in and outs of glob patterns, but that seems to be correct :). Your glob currently matches all files **one** folder deep

[code]

[2017-06-23 14:32] RyanZim commented on #142
@michael-ciniawsky You're incorrect; that's the correct glob pattern for a full recursive search. The globstar (`**`) matches any character, including slashes.

@zyy7259 My guess is you're using either macOS or a version of Linux that doesn't have the globstar enabled by default in your shell. Your shell is trying to expand the glob, but it doesn't recognize the globstar. postcss-cli has glob expa

[2017-06-24 03:18] zyy7259 commented on #142
"quote the glob" worked!

Please add this explanation to the `Usage` of the `README.md`~

[2017-06-24 11:12] RyanZim commented on #142
Yeah, should probably do this; reopening.

[2017-06-27 11:02] mfolkeseth opened #143 "postcss-cli ignoring config"
I can't get postcss-cli to read the config either by default (current directory) or by using the `-c`flag. Using Node v 8.0.0 and npm v 5.0.4. Have tried to downgrade Node all the way down to 6.1.0.

However, the `-u`-flag works fine. here is my `postcss.config.js`

[code]
Using postcss v 6.0.3 and postcss-cli v 6.0.1. Am I missing something?

[2017-06-27 13:52] RyanZim commented on #143
Try:

[code]
If that doesn't fix this, please make a reproducible test case repo and post the link here. Thanks!

[2017-06-27 16:04] michael-ciniawsky commented on #143
`parser: 'postcss' `? 🙃

[2017-06-27 16:43] RyanZim commented on #143
@michael-ciniawsky Yeah; good catch. @mfolkeseth You can drop that line from your config.

[2017-06-28 11:29] mfolkeseth commented on #143
https://gist.github.com/mfolkeseth/5a012c17686d6fdf6c1b827327e434ab

@RyanZim Is this sufficient?

[2017-06-28 13:50] RyanZim commented on #143
@mfolkeseth Would have been better to include a package.json as I suspect this is a specific version issue. I added my own; here's a working example: https://gist.github.com/RyanZim/21e062284783c975c4a8a7de9ce45bc7

Run `npm test` to test this; it works fine for me. Note that I removed the `-c` option from your command; it's not needed.

[2017-07-04 16:06] ao2 opened #144 "Passing options to plugins on the command line"
Hi,

IMHO it is not very clear how to pass options to plugins enabled with the `--use` option.

I experienced this with autoprefixer: at the beginning I was having a hard time figuring out how to pass the "browsers" option to it.

Another `postcss-cli` implementation (https://github.com/pirxpilot/postcss-cli) uses the syntax `--${plugin}.option value` which in my case would be something like `--au

[2017-07-04 16:13] ao2 commented on #144
The ambiguity in my case came also from the fact that https://github.com/ai/autoprefixer-cli suggests https://github.com/pirxpilot/postcss-cli but when doing `yarn add postcss-cli` https://github.com/postcss/postcss-cli gets installed instead, and a newbie like me could end up following the documentation from the former while actually executing the latter.

[2017-07-04 16:17] RyanZim commented on #144
From the docs:

https://github.com/postcss/postcss-cli#config

This is where you need a config file. Passing complex options to your plugins in the command is a bad practice IMO. Also, you should probably simply be using a browsers config in your package.json.

The note at `autoprefixer-cli` should probably be changed; ping @ai.

[2017-07-04 16:17] #144 closed

[2017-07-06 15:45] hzlmn opened #145 "Plugins search tool"
Hello guys,

I am planning to write module for searching plugins in `cli` (kind like `postcss-parts` for `cli`) and wondering do you want to make this as a part of `postcss-cli` or it's out the project's scope and should be separate package?

cc @ai

[2017-07-06 16:45] RyanZim commented on #145
@hzlmn That's a great idea! Out of scope IMO, but I might consider linking to your project from the readme here. Let me know when it's done!

[2017-07-06 16:45] #145 closed

[2017-07-06 17:54] hzlmn commented on #145
Sure. Thank you @RyanZim

[2017-07-15 16:10] RyanZim commented on #24
Sorry, I don't think we're going to support this.

[2017-07-15 16:10] #24 closed

[2017-07-17 13:38] leny opened #146 "Random stucks on Windows env (with replace & config)"
Hi,

We have a strange, random bug with postcss here in our setup. We use npm scripts and have three _css-related_ tasks :

[code]

The config file for postcss contains this :

[code]

All these commands works perfectly on linux & macos environment. But, on Windows (7 & 10 tested), the **postcss** command occasionally stucks, and must be re-run until it work, completely random.
We don't have any k

[2017-07-17 14:54] RyanZim commented on #146
Man, this is super weird. I frankly have no idea. When it gets stuck, has postcss modified the file in any way?

[2017-07-17 15:25] leny commented on #146
Thanks for the answer. Is kinda weird, I know. :)

I don't have access to a Windows machine _right now_, I will look at it tomorrow when I got back to the office. I'll keep you in touch.

[2017-07-18 07:28] leny commented on #146
Some update here : when the command gets stucks, the file isn't modified.

[2017-07-31 03:07] WataruTamanaha opened #147 "-m option doesn't work on 4.1.0"
-m option doesn't work after updated to 4.1.0.
It will have inline sourcemap if I set "map: true" in postcss.cpnfig.js.

[2017-07-31 13:48] RyanZim commented on #147
In v4.0.0 and later, inline source-maps are default. Passing the `-m` option will create external sourcemaps instead. Passing `--no-map` turns off sourcemaps altogether. Isn't it working this way for you?

[2017-07-31 20:28] nextgenthemes opened #148 "EISDIR: illegal operation on a directory"
I am trying to build bootstrap 4.0 and get this error.

**{ Error: EISDIR: illegal operation on a directory, read
    at Error (native) errno: -21, code: 'EISDIR', syscall: 'read' }**

System: Ubuntu 17.04

Installed node the offical way.

Installed ruby and bundler like with rbenv as [described here.](https://gorails.com/setup/ubuntu/17.04) I had the build failing on ubuntu 16.10 as well then upg

[2017-07-31 20:30] RyanZim commented on #148
Delete `dist` and try running again.

[2017-07-31 20:38] nextgenthemes commented on #148
Thanks for the fast response, deleting the dist folder did not help.

[2017-07-31 20:42] RyanZim commented on #148
Please make a [reproducible test case repo](https://gist.github.com/Rich-Harris/88c5fc2ac6dc941b22e7996af05d70ff) showing this problem so I can look into this.

[2017-07-31 21:44] nextgenthemes commented on #148
Well I can't put my ubuntu system into a repo. That repo would simply be the official bootstrap 4.0 repo.

[code]

[2017-07-31 21:49] nextgenthemes commented on #148
Don't get confused about this being in a wp themes dir, that has no real purpose that is relevant to this.

[2017-07-31 22:36] RyanZim commented on #148
Confirmed. It seems passing a dir to `--config` doesn't work. @michael-ciniawsky did you change postcss-load-config?

[2017-07-31 22:42] michael-ciniawsky commented on #148
No

[2017-08-01 02:33] michael-ciniawsky commented on #148
@nextgenthemes Could you please share your `package.json` (npm scripts) && `tree $PROJECT`. Does it work without `--config build/` ?

[2017-08-01 09:06] nextgenthemes commented on #148
I am actually happy to hear this confirmed because I thought this may be something messed up with my ubuntu/ruby install.

Package.json is/was untouched from bootstrap https://github.com/twbs/bootstrap/blob/v4-dev/package.json

And removing the `--config build/` from both `css-prefix` and `css-prefix-docs` scripts does actually work so thats already a step into the right direction.

`tree $PROJECT

[2017-08-01 09:15] nextgenthemes commented on #148
Got it, changed `--config build/` to `--config build/postcss.config.js` did the trick. But I think it worked without that b4.

[2017-08-01 11:32] XhmikosR commented on #148
So, is this the proper way? From the readme I'm not sure that's clear being it states: "dirname(file)". Does it expect the dir the config is in or the full path to the config file include the config itself?

[2017-08-01 12:28] RyanZim commented on #148
@XhmikosR This is a bug in postcss-cli, probably caused by an in-range update of a dependency. I need to sit down and do some debugging here, just haven't gotten the chance.

[2017-08-01 12:31] RyanZim commented on #148
@davidtheclark Were there any changes to `cosmiconfig` that could have caused this?

[2017-08-01 14:25] XhmikosR commented on #148
@RyanZim: sure, but the README part could be worded better IMO.

[2017-08-01 14:49] RyanZim commented on #148
@XhmikosR Good point, will fix.

[2017-08-01 16:45] michael-ciniawsky commented on #148
[code]

Works definitely in a simple example, I can't reproduce this, so `dirname` should be fine

[2017-08-03 05:04] WataruTamanaha commented on #147
Sorry for the delay.

Yes I understand -m option.
I wrote the task below:

[code]

No inline sourcemap appears in main.css.
Also -m option doesn't create external sourcemap.
v2.6.0 does work.

[2017-08-03 05:36] WataruTamanaha commented on #147
If I set `map: true `in postcss.cpnfig.js, inline sourcemap will be inserted through having `--no-map`.
I want to have sourcemap only in watch mode. So I thought of having two config files, one is for watch task and other one for build task specifing with `--config` option.

But it doesn't look smart way..

[2017-08-03 07:40] nlazzari opened #149 ""Plugin error: Cannot find module". Can't get CLI options to work for me."
I've gone through many different combinations of config and terminal commands and I'm not able to get PostCSS CLI to work. I've tried these commands:

`postcss -c config/postcss.config.js -u postcss-cssnext --dir dist/css src/client/css/*.css`
`postcss -u postcss-cssnext --dir dist/css src/client/css/*.css`

My package.json:

[code]

Finally, postcss.config.js:

[code]

Any ideas ? I'm a bit frust

[2017-08-03 13:10] michael-ciniawsky commented on #149
[code]

Either use `postcss.config.js` or `-u` both together doesn't/shouldn't work :)

**postcss.config.js**
[code]

[code]

Which module isn't found, this normally indicates a dependency (e.g plugin) is missing 😛

[2017-08-03 13:16] michael-ciniawsky commented on #147
Please setup a test repo for debugging or provide more info about your setup (configs, `tree $PROJECT` etc...)

[2017-08-04 00:49] WataruTamanaha commented on #147
Hi, this is the repository
https://github.com/cdgrph/npm-scripts-sample

Thank you for your assist!

[2017-08-04 01:11] michael-ciniawsky commented on #147
[code]

**postcss.config.js `{Function}`**
[code]

This was a necessary evil to keep CLI and Config usage consistent 😛 , you need to reference `options` CLI flags in the config via `ctx`

[2017-08-04 07:51] WataruTamanaha commented on #147
@michael-ciniawsky

Excuse me that I didn't read through the reference.
Thank you for helping me out!

[2017-08-04 07:51] #147 closed

[2017-08-05 23:25] nlazzari commented on #149
Thanks for the info!

OK, I tried the `-c` and `-u` options each separately, and still get errors.

When I run `postcss -c postcss.config.js`, I get the error:
`✖ Input Error: Did not receive any STDIN`

When I run `postcss -u postcss-postcssnext`, I get the error:
`✖ Plugin Error: Cannot find module 'postcss-postcssnext'`

Since `postcss-postcssnext` is in my `package.json.devDependencies`, I'm n

[2017-08-06 00:10] michael-ciniawsky commented on #149
File I/O needs to be **exclusively** provided via CLI only, (**not** in `postcss.config.js`)

[code]
* ⚠️
[code]

You only need `-c|--config` if you store the config in a 'nested' folder e.g `.config` [or have multiple ones]

[code]

`postcss.config.js` lookup always starts from `dirname(file)` and uses the first config found, stops at `os.homedir()` (Config Cascade). It's recommended to simply pl

[2017-08-07 13:46] corysimmons opened #150 "What happened to `--local-plugins`?"
This was useful for dev'ing plugins.

[2017-08-07 15:28] RyanZim commented on #150
We removed it in v3. Now, just use a `postcss.config.js`, using the `require`/array form.

i.e. `require('postcss-url')({ url: 'copy', useHash: true })` in the `postcss.config.js` will look in the local `node_modules`.

[2017-08-07 15:28] #150 closed

[2017-08-08 17:19] nlazzari commented on #149
Thanks very much for your detailed response! I was able to get it working because of your guide :).

I used this command
`postcss src/client/css/*.css --dir dist/css --config config/postcss.config.js`

with this config
[code]

However I do get a warning about autoprefixer duplicates? I didn't think any of the above plugins also included `autoprefixer`:
```Warning: postcss-cssnext found a duplicate

[2017-08-08 18:09] RyanZim commented on #149
Both `postcss-cssnext` and `cssnano` include autoprefixer under the hood. You want to turn off autoprefixer in `cssnano`; I forget how to do it.

The `--use` flag is for when you aren't using a config file (i.e. when you don't need to pass options to plugins).

[2017-08-08 18:09] #149 closed

[2017-08-10 10:28] XhmikosR commented on #148
I actually hit this too on Windows yesterday and I had to change the `--config` option to point to the config file instead of the folder. See https://github.com/twbs/bootstrap/pull/23264/files#diff-b9cfc7f2cdf78a7f4b91a753d10865a2R27

[2017-08-11 06:57] bdkjones opened #151 "Reduce Bloat"
## The Problem:
`postcss-cli` currently requires 23.7MB of disk space, as shown in this screenshot of a folder right after I ran `npm install postcss-cli` in it:

<img width="289" alt="screen shot 2017-08-10 at 23 27 22" src="https://user-images.githubusercontent.com/926566/29203494-251b62de-7e26-11e7-9777-ffa77b47bd2d.png">

(Don't be misled by the `13.9MB` figure at the top. That's the amount of

[2017-08-11 14:04] RyanZim commented on #151
I appreciate you taking the time to write this issue.

I never use stuff like this installed globally, so I know what you're getting at (but I have a 1 TB hard drive, so it doesn't really matter for me personally). All the same, it'd be nice if we could trim this down a bit.

Why in the world would you bundle a CLI tool into an app? I'm just honestly asking. This is intended to be a devDependency,

[2017-08-11 18:26] bdkjones commented on #151
Without getting too technical, this is very often the best way of interfacing with a node module from an app not written in JavaScript. I think you'd be very surprised how often many GUI apps are just invisible wrappers around command line tools.

[2017-08-11 18:48] RyanZim commented on #151
Sure, gotcha.

If you're just trying to interface to autoprefixer, honestly, you're going to be far better off writing a little custom script, though:

[code]

Usage would be `./autoprefixer-script.js input.css output.css '{"browsers":"last 4 versions"}'` The only dependency is autoprefixer itself.

[2017-08-11 19:23] bdkjones commented on #151
Yep. I used to do things like this. But when you have 40 tools bundled into an app that constantly change, it becomes a nightmare to keep your custom scripts working. It's just much more robust to rely on the officially-maintained CLI than it is to keep yours going.

[2017-08-17 22:32] RyanZim commented on #148
@michael-ciniawsky I found the issue. `cosmiconfig` started looking for the `--config` option on the command line. postcss-cli already looks for this option, but our behavior is different from `cosmiconfig`'s. I think the solution is to set the `argv` option to `false`: https://github.com/davidtheclark/cosmiconfig#argv

[2017-08-17 23:03] #148 closed

[2017-08-17 23:04] RyanZim commented on #148
Fixed in `master`; will release as soon as I can.

[2017-08-17 23:04] RyanZim commented on #146
@leny Is this still happening?

[2017-08-17 23:05] RyanZim commented on #143
Assuming this is fixed.

[2017-08-17 23:05] #143 closed

[2017-08-17 23:07] XhmikosR commented on #148
@RyanZim: will this break existent configs?

[2017-08-17 23:07] RyanZim commented on #148
@XhmikosR It shouldn't.

[2017-08-17 23:42] RyanZim commented on #148
Released as v4.1.1; please test.

[2017-08-18 12:41] leny commented on #146
Yup. Dependencies are up-to-date, and still have random, unpredictable crashes, only on windows, not everytime. Still weird.

[2017-08-19 22:13] mdmoreau opened #153 "Sourcemaps compatibility with postcss-import"
I've been trying to get sourcemaps to work when using postcss-import via postcss-cli, but I can't seem to figure out what's going wrong. Here's my npm script that's handling the task:

`postcss src/css/main.css --use postcss-import postcss-mixins postcss-cssnext postcss-clean --output dist/css/main.min.css --map --watch`

Everything works correctly except the sources that are set on the external .

[2017-08-20 07:35] michael-ciniawsky commented on #153
Does this also happen if you don't use `@import` (`postcss-import`) ? `<input css 1>` is the file placeholder in case `options.from === undefined`. Normally `postcss input.css -o  output.css` the CLI uses `path.resolve(input.css)` to set `options.from` automatically and there shouldn't be any need to set it via config or to be more precise setting `options.from`  via config shouldn't work at all.

[2017-08-20 14:21] mdmoreau commented on #153
Thanks for the quick response! I took another look at this with fresh eyes, and realized it was a problem with postcss-clean specifically. It's documented in an issue (https://github.com/leodido/postcss-clean/issues/17) at that repo as well.

I ended up switching over to cssnano instead, and everything seems to be working properly now.

[2017-08-20 14:21] #153 closed

[2017-08-24 22:56] #142 closed

[2017-08-25 11:40] Siilwyn commented on #151
I was surprised by the size too, installing it on Linux gives the following modules taking up the most space:
1. lodash: required by `postcss-reporter` can be fixed by requiring individual lodash modules. [See this PR in the redis repository for an elegant way](https://github.com/luin/ioredis/pull/494).
2. source-map: `dist` directory taking up most space because it includes debugging files: `sour

[2017-08-25 16:56] bdkjones commented on #151
What npm *really* needs is an option to install JUST the files required to make a module run. No READMEs, no tests, no changelogs or .gitignore or editor-config files or sources or docs or logos or extraneous crap. You could even skip all the license files and contributor files because those are listed in package.json.

I have a bash script that I use to do precisely this and it reduces the size o

[2017-08-25 17:05] Siilwyn commented on #151
Except from the README that's how packages are build right now if you make proper use of the `files` key. Sadly not everybody agrees on this and thus some packages include the docs and other stuff in there too.

[2017-08-25 17:12] RyanZim commented on #151
If y'all want to bug upstream maintainers to slim down their package sizes, go ahead. Not sure how much I can really do from my end. Unless anyone has further suggestions for things to do on postcss-cli's end, I think I'm going to close this issue out.

[2017-08-30 09:42] xcatliu opened #155 "filename.css.map doesn't generated"
My `postcss.config.js`:

[code]

After exec `postcss src/*.css --dir dist/`, there are only one file `filename.css` generated:

[code]

There is no `filename.css.map` file.

[2017-08-30 14:28] RyanZim commented on #155
Just use the `--map` (shorthand `-m`) command line option instead.

[2017-08-30 15:29] weaintplastic commented on #126
I'm running into the same issue. Would be great to have a solution for it.

[2017-08-30 16:39] michael-ciniawsky commented on #155
[code]

**postcss.config.js**
[code]

[2017-08-31 03:20] gaoxiaosong1113 opened #156 "Error out when using -w when writing to stdout"
I used File Watchers in webstorm to add autoprefixer to suggest an error
![image](https://user-images.githubusercontent.com/16183057/29904392-3288755e-8e3b-11e7-8ff6-23f60ee28565.png)

postcss-cli、autoprefixer version
![image](https://user-images.githubusercontent.com/16183057/29904466-83890aa4-8e3b-11e7-984f-0c509eb6ce61.png)

What is the reason for that?

[2017-08-31 07:55] lydell commented on #155
@michael-ciniawsky Thanks, that works. Something should be added to the documentation, though, because that was not obvious :)

[2017-08-31 14:16] michael-ciniawsky commented on #156
[code]

From the screenshot it's seems to be a command line args mismatch and the result is logged to `STDOUT` atm, because no path is given to `-o|output`

[code]

[2017-08-31 21:04] RyanZim commented on #156
We should modify our logic here to error out with a friendly error message.

[2017-09-02 02:22] xcatliu commented on #155
Thanks @RyanZim @michael-ciniawsky
There is still one thing that makes me confused.
I think if there are no `filename.css.map` generated, the `filename.css` should not have sourcemap comment like `/*# sourceMappingURL=filename.css.map */`

[2017-09-02 03:16] michael-ciniawsky commented on #155
You still refering to your setup above ?

[code]

If so `map.annotation` is a separate option

[code]

[2017-09-02 03:19] xcatliu commented on #155
Thanks @michael-ciniawsky

[2017-09-02 03:19] #155 closed

[2017-09-02 05:00] jonathantneal commented on #93
If no input is specified from the CLI, I see no reason not to allow the config to determine the `to` and `from`.

[2017-09-05 02:00] gaoxiaosong1113 commented on #156
@michael-ciniawsky
Thanks for your prompt, my network storm editor has been successfully configured.
But the editor set file watchers configuration less add autoprefixer, my mac becomes very cardton, I also need to find other ways to optimize, or replace the editor.

[2017-09-05 13:13] RyanZim commented on #156
Reopening to remind me to add an error message.

[2017-09-05 17:01] billyjanitsch opened #157 "4.1.1 not published"
Hi @RyanZim, I noticed that version 4.1.1 was released on Github, but hasn't been published to npm. You can verify by running `npm info postcss-cli versions`.

[2017-09-05 17:06] RyanZim commented on #157
Good catch!

[2017-09-07 17:37] ms-clovis opened #158 "Using postcss-cli and .css file syntax error unknown word !important"
When I was testing postcss from the command line on a Windows 7 64bit machine the following appears:
[code]

Note the red arrow points to the exclamation point before important

[2017-09-07 17:55] RyanZim commented on #158
You have a syntax error in your CSS. `display: inline-block; !important;` is not valid. `display: inline-block !important;` is the correct format.

[2017-09-07 17:55] #158 closed

[2017-09-07 21:05] FlorianLudwig commented on #148
@RyanZim the release on npmjs is still on v4.1.0

[2017-09-08 15:16] RyanZim commented on #157
Fixed, sorry for the wait.

[2017-09-08 15:16] #157 closed

[2017-09-08 15:16] RyanZim commented on #148
@FlorianLudwig Fixed; see #157. Thanks for the ping!

[2017-09-08 15:36] billyjanitsch commented on #157
No worries, thanks so much for your work on this project!

[2017-10-05 18:03] nickbabcock opened #160 "Cli assumes stdin when invoked by yarn"
*postcss.config.js*

[code]

*package.json*
[code]

Does not work with yarn.

[code]

But does work with npm:

[code]

Interestingly, when invoked through yarn, the `_assets/build` directory is still correctly populated.

[2017-10-05 18:15] RyanZim commented on #160
Yarn has some non-standard behavior here; if you run `yarn postcss`, it will run the local installation of `postcss` if there's no script defined in your package.json. npm scripts have pre- and post- hooks, so when you run the `css` script, it attempts to run the `postcss` script afterwards. Due to yarn's behavior, it attempts to run the `postcss` command without any args, which causes the stdin e

[2017-10-05 18:15] #160 closed

[2017-10-05 18:22] nickbabcock commented on #160
You're right ... that *is* bizarre. Renaming to `css-build` fixed the issue 🙄 Cheers!

[2017-10-05 18:29] RyanZim commented on #160
IDK, yarn might appreciate if you opened an issue about it.

[2017-10-05 19:49] nickbabcock commented on #160
Ah, looks like it was already reported: https://github.com/yarnpkg/yarn/issues/3051 . I'll have to update yarn 😆

[2017-10-11 11:31] deser commented on #135
Yeah, it's ugly that I can't provide custom configs. Why then I need cli?
My situation is the following:
I have webpack build which uses `postcss.config.js` and I need to do some post build processing of dist/**.css files.

Therefore I need an ability to set my custom config for postcss-cli because I already have default `postcss.config.js` in my project.

[2017-10-20 20:44] JoshuaKGoldberg opened #161 "--watch mode doesn't pick up new files"
Running `postcss -u stylelint -u postcss-reporter --no-map --watch -d ./src ./src/**/*.css` in a directory structure with `src/index.css`:
* Changes to `src/index.css` are picked up fine
* Adding `src/new.css` and then modifying it doesn't get picked up

Is this by design? Can it be fixed?

[2017-10-20 20:51] RyanZim commented on #161
That’s a bug. We’re only watching for the change event; we should watch for the add event as well.

PR welcome!

[2017-10-23 05:21] JoshuaKGoldberg opened #164 "Tests fail on Windows with ENOENT"
[code]

Example failure:

[code]

[2017-10-23 12:49] vphantom opened #165 "--config discussion"
Hello,

This is possibly related to #143: postcss-cli ignores `-c` and `--config` entirely.  I can specify a non-existent file, a valid file, it doesn't matter.  The only work-around I found short of downgrading was to temporarily copy my configuration file to `postcss.config.js` in the current directory in order to run postcss.

This is using postcss-cli 4.1.1 on Node 6.11.4.  This regression see

[2017-10-23 16:32] TheSuperFly opened #166 "Shouldn't be able to use --dir and -o together"
Hello,

I'm experiencing some issues by executing this command:
[code]

It compiles every source files well but output only contains the last compiled file.

I've checked the source code, that's because `css()` does `fs.outputFile()` which overwrite content every time one input get proceed.

Yet, I did a little fix on a fork available here : https://github.com/TheSuperFly/postcss-cli/tree/fix/over

[2017-10-23 16:48] michael-ciniawsky commented on #166
This is bad usage as implicit concatenation should be avoided, please use `postcss-import` instead with the `--dir dest/` flag in case you have multiple dest CSS files (`complete1.css, complete2.css, ...` etc).

[2017-10-23 20:01] RyanZim commented on #164
Ugh, I never use windows, so I never noticed. I assume the tool itself works on windows?

[2017-10-23 20:01] JoshuaKGoldberg commented on #164
It does!

[2017-10-23 20:02] RyanZim commented on #164
OK, one of these days, I've got to add an appveyor CI to check that stuff works on windows.

I'm guessing this is a path issue.

[2017-10-23 20:07] RyanZim commented on #166
That's poor usage; `--dir` and `-o` are supposed to be mutually exclusive. It is a bug that postcss-cli doesn't throw an error when you use them together.

[2017-10-23 20:10] TheSuperFly commented on #166
Ok, I see. So if you don't want this issue to be filled again, either we should trigger an error to avoid this behavior of overwritting or handle it nicely by handling multiple inputs when one output is expected, like `sass`'s cli does transparently.

AHMA, option two is the way to go since I've been using postcss in a react (next.js) context where stylesheet belongs to components and should not r

[2017-10-23 20:14] RyanZim commented on #166
Yeah, going to trigger an error here. Implicit concatenation isn't something I want, since I can't guarantee the order the files are appended to the output will always be consistent.

[2017-10-23 20:19] TheSuperFly commented on #166
Alright!

[2017-10-23 21:47] vphantom commented on #165
With v4.1.0 however, specifying a file did work. However of course I now see that `--help` does mention that it is now a path instead.

May I ask why the change, though?  Since the configuration fits in a single file, why not specify it directly?  That would allow a use case like ours, where the file is neatly stashed away as a dot-file.

[2017-10-23 22:22] michael-ciniawsky commented on #166
Yep, should throw. `next.js` (`webpack`) file structure is out-of-scope

[2017-10-23 22:23] RyanZim commented on #165
It was supposed to be a directory since v3; however, specifying a file also worked (thought we weren't aware of that).

Given the amount of confusion I've seen around this option, I'm strongly leaning towards changing the behavior to point to a file in the next major release.

[2017-10-23 22:27] michael-ciniawsky commented on #165
I'm still not getting what doesn't work anymore 🙃  ? `postcss --config path/to/.config/postcss.config.js` vs. `postcss --config path/to/.config` ?

@vphantom Can you `tree $PROJECT` and post it. In most cases the `--config` shouldn't be necessary

[2017-10-23 23:54] vphantom commented on #165
I'm not sure what you mean by `tree $PROJECT` but we're simply storing our configuration in `.postcss.config.js` to keep it as a dot-file (like many others such as: `.eslintrc.json`, `.gitignore`, etc.) neatly away from our main files.

Therefore, we used to use `postcss --config .postcss.config.js` and as of v4.1.1, we now have to first `cp .postcss.config.js postcss.config.js` temporarily, then

[2017-10-24 00:15] michael-ciniawsky commented on #165
`.postcssrc.js` should work for `.dotfiles`

`tree` is UNIX Command Line Tool to visualize a file tree/directory structure

[2017-10-24 13:45] RyanZim commented on #165
@michael-ciniawsky `postcss --config path/to/.config/postcss.config.js` used to work; now you have to do `postcss --config path/to/.config`.

[2017-10-24 13:56] vphantom commented on #165
@michael-ciniawsky You're right, `.postcssrc.js` works without specifying `--config` at all. :smile:

[2017-10-24 13:56] #165 closed

[2017-10-24 14:23] vphantom opened #167 "4.1.1 claims to be slower than 4.1.0 but is not"
(This is not a bug, merely an observation which you may find interesting.)

I was shocked to see postcss-cli's reported time become slower by an order of magnitude after the update to v4.1.1 so I investigated.  First I ruled out plugins by disabling all of them entirely, then I timed the command itself with the UNIX `time` program:

Version | Plugins | User CPU | PostCSS claims
--------|---------|

[2017-10-24 14:37] RyanZim commented on #167
The old logic only used `process.hrtime(time)[1]`, which completely screws time logic if it took more than 1s. I discovered this was buggy, so I switched to `prettyHrtime`. The new time figures are correct; the old ones were terribly screwed.

[2017-10-24 14:37] #167 closed

[2017-10-24 16:35] michael-ciniawsky commented on #165
`postcss --config path/to/` is the correct way since `postcss-load-config` like ESLInt and all other tools using cosmiconfig under the hood look for base names based on the following filename conventions

`pgk.postcss {Object}` (`package.json`)
`.postcssrc.js {Function}`
`.postcssrc.json {Object}`
`.postcssrc.{yml,yaml} {Object}`
`postcss.config.js {Function}`

Specifying the filename/a custom fil

[2017-10-25 22:33] BamiGorengo opened #168 "Question - How to use config.json?"
Hello, Sorry for asking things in a issue board, but i cant resist any more. I try now to sience about 8 hours, to make postcss working.

My package.json:
[code]

My postcss.json:
[code]

With this i get a Error when i run "npm run postcss":

Okay, Looks like that the --config param dont work. so i tryed to input the files direct in the script:

But what ever i try, i cant make that he collect my

[2017-10-25 22:48] michael-ciniawsky commented on #168
Your `config` is just outdated, `postcss-cli` uses a new config format since ` >= v3.0.0`
https://github.com/postcss/postcss-cli/wiki/Migrating-from-v2-to-v3#config-migration-example

**postcss.config.js** (Place it in the `root` of your project (next to `package.json`))
[code]

[code]

[2017-10-25 23:11] BamiGorengo commented on #168
so the json format dont work any more?

[2017-10-25 23:25] michael-ciniawsky commented on #168
You can use the following formats

`pkg.postcss` (`package.json`)
`.postcssrc.json` `{Object}`
`.postcssrc.yaml` `{Object}`
`.postcssrc.js` `{Function}`
`postcss.config.js` `{Function}`

### `{Object}`

**`package.json`**
[code]

**.postcssrc.json**
[code]

### `{Function}`

**`.postcssrc.js/postcss.config.js`**
[code]

[2017-10-26 07:39] BamiGorengo commented on #168
Ok. Thanks alot for this explanation! So when i create the .postcssrc.json i dont need any entry in my package.json? And i need to install [Load Config](https://github.com/michael-ciniawsky/postcss-load-config) manualy? or its allready includet in the postcss-cli package?

And how i can run the .postcssrc.json file? I cant find in the documentation any executing command.

(Sorry its hard for me to

[2017-10-26 08:00] michael-ciniawsky commented on #168
You're welcome 😛 . Input && Output related configuration is CLI only since `postcss-cli >= v3.0.0`.

[code]

1. Load Files
2. Autoload Config
3. Process
4. Write Files

It works out-of-the-box and is a dependency of `postcss-cli`. Most PostCSS Runners support this common config out-of-the-box (CLI, Gulp, Webpack Loader)

[2017-10-26 08:09] BamiGorengo commented on #168
ohhhh okay. So i really need to input and output direct in the package.json inside of the postcss npmScript. And i dont need to include the .postcssrc.json anywhere. It get loaded automaticly by postcss-load-config.

This is awesome! :)

And at last, some question from a SCSS user.

Is it possible to compile scss files with postcss? I was using node-sass for this. but i love to reduce my dependenc

[2017-10-26 08:29] michael-ciniawsky commented on #168
Nope, only syntax analysis. The functionality (e.g `mixins`) are not 💯  reproduceable with PostCSS Plugins

I'm not on windows sry no idea 😛

Use the `--ext` flag (CLI only) or thinker around with `--base` a bit more (I'm not using it myself but it should definitely work, otherwise it's a bug)

[code]

[2017-10-26 08:34] BamiGorengo commented on #168
You are great! =) Thanks again for this. --ext works like a charm! 👍

Just the 3 subfoldered files he place on the wrong place. But i will find a way to solve this.

i edit my post because postcss-discard-comments dont do his job.

My complete json:
[code]

[2017-10-26 08:49] michael-ciniawsky commented on #168
[code]

[2017-10-26 08:50] michael-ciniawsky commented on #168
I really wonder while `--base` isn't working (?)

@RyanZim Can you shed light upon us how to correctly use `--base` please ?

[2017-10-26 08:50] michael-ciniawsky commented on #168
The issue can then be closed I guess ?

[2017-10-26 08:51] BamiGorengo commented on #168
Maybe we wait for RyanZim´s answere. because im really verry interested to make this --base flag working =)

[2017-10-26 08:53] michael-ciniawsky commented on #168
Yep, intended 😛

[2017-10-26 08:53] BamiGorengo commented on #168
your right :P My english sucks a little bit :P

[2017-10-26 14:02] RyanZim commented on #168
I think this is what you want:

    "postcss": "postcss public_html/css/**/*!(.min).css --base public_html/css --dir public_html/css --ext min.css"

Haven't tested personally.

[2017-10-26 21:50] michael-ciniawsky commented on #168
I can only recommend to separate the `src` and `dest` to avoid such things.
Does the rest work for  you know ?

No, only quick and dirty `--use|-u postcss-plugin` which will use the plugin defaults

[2017-10-26 23:05] RyanZim commented on #168
With the modified glob in the script I posted above, you shouldn't get `style.min.min.min.css`

[2017-10-27 08:46] BamiGorengo commented on #168
Thanks alot, i will try this, when the nanocss people help me to understand, how i use the nanocss plugins correctly. at the moment i use again only node-scss because i got huge problems to understand how to use all this postcss stuff. To much plugins, and no clear documentations on the nanocss website. :)

[2017-10-29 19:53] whaaaley opened #169 "Allow external sourcemaps when writing to STDOUT"
Is there any reason this is currently impossible? I get an error:

`✖ Output Error: Cannot output external sourcemaps when writing to STDOUT`

My use case is the following:

`postcss dist/app.css -u autoprefixer -m | cleancss -o dist/app.css`

I'm using external source maps with STDOUT with rollup, babel, uglifyjs, node-sass and cleancss. This is the only place where I get hung up. Any explanation

[2017-10-30 14:26] RyanZim commented on #169
@whaaaley I'm not sure what you mean by "external sourcemaps"; If you're piping to STDOUT, why would you want to write sourcemaps to an external file? Inline sourcemaps are generated by default.

[2017-10-30 15:59] whaaaley commented on #169
By external source maps I mean map files and not inline with the source. I want to write to an external source map because the package I'm piping to accepts an external source map without any config. I use external source maps for everything, they seem to perform better when passing them in and out of multiple projects.

[2017-10-30 17:05] RyanZim commented on #169
You could pipe through https://github.com/thlorenz/exorcist to write to the external sourcemap. This is and edge-case usage IMO.

[2017-10-30 17:12] whaaaley commented on #169
I disagree that this is an edge case. Not supporting external source maps just because inline source maps work seems like the wrong approach. Regardless, edge case or not, this is how all of the projects I listed work as well. They all support external source maps with STDOUT.

[2017-10-30 17:34] michael-ciniawsky commented on #169
@whaaaley Which package supports that, so we can take a look at how this package enables this ? I'm pretty sure you either need a marker to the intermediate source map `/*# sourceMappingURL='path/to/file.ext.map' */`or inlined it as `base64` encoded BLOB `/*# sourceMappingURL=data:application/json;base64, ... */` into the file itself.

[2017-10-30 17:46] whaaaley commented on #169
@michael-ciniawsky Yeah, it could be via marker. That actually makes more sense. I had just assumed it was based on input file name. I'd imagine `babel-cli` or `rollup` might be the best projects to reference for this. I'm using both of those projects right now in my scripts, but I'm only using STDOUT with babel-cli.

Here's an example of passing babel output into uglify with STDOUT.

First I bund

[2017-10-30 18:40] michael-ciniawsky commented on #169
Does it also work if you pipe to `babel` directly `rollup | babel | uglifyjs` ? Sure picking up previous source maps should already be possible (not 💯  if `postcss` picks up `/*# sourceMappingURL=data:application/json;base64, ... */ comments but I think so), e.g

**postcss.config.js**
[code]

That's because it isn't sufficiently possible to `tee` (`split`) the stream, the next program needs to par

[2017-10-30 22:13] whaaaley commented on #169
Can't say for sure. I don't have a use for that. I can test later if it makes a difference?

Thanks but no thanks. I'm aware this is an option and I used rollup's config files for years but it requires too much work to separate your production and development processes.

My use case is in my original post.

Perhaps the `--source-map` flag could optionally take a value of the location of the input

[2017-10-30 23:07] michael-ciniawsky commented on #169
Don't bother, it is likely `babel` parses the comments and if it is a URL is loads the map from disk.

It's out-of-scope for this issue and use what you like the most, but `ENV` (`process.env`) variables may help you in the future.

[code]

Which needs more info about the setup you intend to use? What other CLI programs are involved (e.g  `sassc`,  `lessc`, `clean-css`, `none`) ? Do they support p

[2017-10-31 01:30] whaaaley commented on #169
Thanks, but I'm already aware of env vars as well. This is part of the config insanity I was referring to. I'd prefer working with CLIs only at this point.

I use node sass in another task before passing it to my production task with postcss and cleancss, but not with STDIO.

`clean-css` does not, but you can pass it a source map like this, however it only seems to work with STDIN. If this project

[2017-11-04 11:16] pldg opened #170 "sourcemap --map not working?"
I'm trying to generate an external sourcemap but is not working.
This is the script inside my `package.json`:

`postcss ./src/css/main.css --output ./dist/main.css --map`

[2017-11-04 16:43] RyanZim commented on #170
@pldg Do you have a `postcss.config.js` file? You say it's not working; does `dist/main.css` contain an inline sourcemap?

[2017-11-04 17:11] pldg commented on #170
@RyanZim

`postcss.config.js`
[code]
No inline sourcemap in `dist/main.css`

[2017-11-04 19:54] RyanZim commented on #170
That's strange; can you post a minimal reproducible test case repo to github?

[2017-11-04 21:24] pldg commented on #170
@RyanZim https://github.com/pldg/test-npm-scripts
Thanks!

[2017-11-06 13:46] hellotunick commented on #170
I confirm that cli options `--map`, `--no-map` are ignored if configuration file is used.

Another issue is the `--map` takes precedence over `--no-map`, though the other way around would be naturally:
- negative command line option take precedence over positive option;
- command line option takes precedence over the same option in config file.

So that if sourcemaps are enabled and configured in

[2017-11-06 18:46] hellotunick commented on #170
Looks like this can be closed. ping @RyanZim

[2017-11-06 20:30] RyanZim commented on #170
@hellotunick You're right; sorry, I forgot it worked that way.

@pldg Just add use the config @hellotunick posted.

[2017-11-06 20:30] #170 closed

[2017-12-05 23:36] RyanZim commented on #168
Assuming this is resolved.

[2017-12-05 23:36] #168 closed

[2017-12-05 23:41] RyanZim commented on #151
Closing as per comment above.

[2017-12-05 23:41] #151 closed

[2017-12-05 23:43] RyanZim commented on #136
Closing as I haven't heard further reports of this.

[2017-12-05 23:43] #136 closed

[2017-12-05 23:45] RyanZim commented on #110
@Ryuno-Ki ping?

[2017-12-05 23:47] RyanZim commented on #27
The more I think about this, the less I like it. Order matters in CSS; concating files in a random order isn't really a good idea. Also have no idea precisely how you could ever keep correct sourcemaps here, so we'd be no better than `cat file1.css file2.css > postcss`. Closing.

[2017-12-05 23:47] #27 closed

[2017-12-06 19:52] whaaaley opened #182 "Sources Content"
There's no way to enable sources content. This is a problem for me as I don't serve my source with my bundle.

[2017-12-06 19:53] Ryuno-Ki commented on #110
­*on what project I worked back then …

However, I am not assigned to it any longer. I am closing this issue as Won't Fix.

[2017-12-06 19:53] #110 closed

[2017-12-06 20:08] RyanZim commented on #182
I'm not sure I understand?

[2017-12-06 20:12] whaaaley commented on #182
Sourcemaps have a feature called `sourcesContent` see the follow:
https://sourcemaps.info/spec.html#h.mofvlxcwqzej

This is so you can have sourcemaps without actually serving the original source in the same directory.

[2017-12-06 20:15] RyanZim commented on #182
@whaaaley Not sure if this can be set in the config file or not; see http://api.postcss.org/global.html#processOptions If not, you'll have to use the API directly; the CLI is just for the 80% use-case.

[2017-12-06 20:15] #182 closed

[2017-12-06 20:15] whaaaley commented on #182
This is a simple feature and it's something that's supported by literally every other CLI I use in my project.

[2017-12-06 21:33] whaaaley commented on #182
For anyone seeing this in the future...

Turns out you can circumvent this lack of functionality by passing in a source map that already contains a `sourcesContent` prop. Postcss core will see that and "bootstrap" it for you. At least postcss core knows how to treat a source maps properly...

[2017-12-15 14:02] two7sclash commented on #91
this still on the docket?

[2017-12-15 15:12] RyanZim commented on #91
PR welcome; I personally won't have time for this for awhile.

[2017-12-28 16:30] DavidOliver commented on #20
I also have this issue in postcss-cli 4.1.1 in both Node 8 and 9, in Linux. (KDE Neon, which is Ubuntu 16.04 LTS + the KDE desktop environment.)

However, adding the `--poll` option to the command allows for watching to work for more than one source file update:

    ./node_modules/.bin/postcss source/styles/test.css -o public/test.css -w --poll

Let me know if there's any further information I sh

[2017-12-28 16:43] RyanZim commented on #20
@DavidOliver Not sure what the cause of this is, but `--poll` is there to allow you to handle cases where watching doesn't work correctly. For now, just use `--poll`, unless you figure out what the root cause is.

[2018-01-02 03:06] greenkeeper[bot] opened #187 "An in-range update of postcss is breaking the build 🚨"
## Version **6.0.15** of [postcss](https://github.com/postcss/postcss) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/postcss/postcss-cli/compare/greenkeeper%2Fpostcss-6.0.15">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      postcss
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2018-01-02 15:37] RyanZim commented on #187
False positive; the Node 4 build stalled for some reason.

[2018-01-02 15:37] #187 closed

[2018-01-19 12:28] DongShelton opened #190 "postcss-cli --base option does not work"
postcss version: 6.0.8
postcss-cli version: 4.1.1

I am using postcss-cli and I have a folder structure like this
[code]
I am running:
[code]
And it is excepted like this
[code]
But I got this:
[code]
It doesn't keeping the directory structure. Did I made something wrong?